.alert{
    border-radius: .5rem;
    display: inline-block;
    padding: 1rem 1.2rem;
    box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0, .5);
}

.alert.banner{
    border-radius: 0;
}