<!DOCTYPE html>
<html lang="arc" dir="rtl">
<head>
    <title>ܐܒܘܢ ܕܒܫܡܝܐ</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge;ie=10;chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://3el.github.io/front/dist/front.css" rel="stylesheet">
    <link href="../../dist/design/theme/material.css" rel="stylesheet">
    <link href="theme.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="topbar dark h4 shade">
            <a>Prayers</a>
        </nav>
    </header>
    <nav></nav>
    <aside class="w10"></aside>
    <main class="flc p5p">
        <h1>ܐܒܘܢ ܕܒܫܡܝܐ</h1>
        <p>
        ܐܒܘܢ ܕܒܫܡܝܐ ܢܬܩܕܫ ܫܡܟ ܬܐܬܐ ܡܠܟܘܬܟ ܢܗܘܐ ܨܒܝܢܟ ܐܝܟܢܐ ܕܒܫܡܝܐ ܐܦ ܒܐܪܥܐ ܗܒ ܠܢ ܠܚܡܐ ܕܣܘܢܩܢܢ ܝܘܡܢܐ ܘܫܒܘܩ ܠܢ ܚܘܒܝ̈ܢ
        ܘܚܛܗܝܢ ܐܝܟܢܐ ܕܐܦ ܚܢܢ ܫܒܩܢ ܠܚܝܒܝ̈ܢ ܘܠܐ ܬܥܠܢ ܠܢܣܝܘܢܐ ܐܠܐ ܦܨܢ ܠܢ ܡܢ ܒܝܫܐ ܡܛܠ ܕܕܝܠܟ ܗܝ ܡܠܟܘܬܐ ܘܚܝܠܐ ܘܬܫܒܘܚܬܐ ܠܥܠܡ ܥܠܡܝܢ ܐܡܝܢ <span>܀</span>
        </p>
    </main>
    <aside class="w10"></aside>
    <footer></footer>
</body>
</html>