.bottombar,
.topbar{
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    list-style: none;
    z-index: 20;
}

.bottombar *,
.topbar * {
    align-items: center;
    -ms-flex-pack: center;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bottombar a,
.topbar a{ height: 100% }

.bottombar img,
.topbar img { max-height: 100% }

.bottombar *.fr,
.topbar *.fr{
    margin-left: auto;
}