*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important
}

*,
form,
.df,
.df- * {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  white-space: normal;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
  -ms-flex-direction: row;
  flex-direction: row;
  color: inherit
}

::-webkit-details-marker {
  display: none
}

::placeholder {
  color: rgba(255, 255, 255, .6)
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, .6)
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, .6)
}

.phdark::placeholder {
  color: rgba(0, 0, 0, .2)
}

.phdark:-ms-input-placeholder {
  color: rgba(0, 0, 0, .2)
}

.phdark::-ms-input-placeholder {
  color: rgba(0, 0, 0, .2)
}

html {
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: 1.6;
  letter-spacing: .02em;
  font-family: Arial, Helvetica, sans-serif;
  color: #111
}

head,
head *,
meta,
title,
script,
link,
style,
template,
.d0 {
  display: none !important
}

img,
ul,
ol,
fieldset {
  border: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block
}

hr {
  margin-bottom: 1rem;
  min-height: 1px;
  border: none
}

section,
article,
code, .code,
pre,
samp,
p,
div,
.db {
  display: block;
  font-family: inherit;
  height: inherit;
  word-break: break-word
}

div {
  height: unset
}

code,
.code {
  overflow: auto;
  word-wrap: normal !important;
  word-break: normal;
  direction: ltr
}

code *,
.code *{
  white-space: unset
}

dialog,
.modal {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex
}

.fs22 {
  font-size: calc(2.2em + 2vw);
  line-height: 1.125
}

.fs20 {
  font-size: calc(2em + 1.8vw);
  line-height: 1.2
}

.fs19 {
  font-size: calc(1.9em + 1.7vw);
  line-height: 1.2
}

.fs18 {
  font-size: calc(1.8em + 1.7vw);
  line-height: 1.2
}

.fs17 {
  font-size: calc(1.7em + 1.7vw);
  line-height: 1.1
}

h1 {
  font-size: calc(1.4em + 1.4vw);
  line-height: 1.4
}

h2,
.fs16 {
  font-size: calc(1.1em + 1vw)
}

h3,
.fs13 {
  font-size: calc(1em + .9vw)
}

h4,
.fs12 {
  font-size: calc(.9em + .8vw)
}

h5,
.fs11 {
  font-size: calc(.8em + .7vw)
}

h6,
.fs1 {
  font-size: calc(.7em + .6vw)
}

body .fs200,
.fs2 {
  font-size: 200%;
  line-height: 2
}

body .fs90,
.fs09 {
  font-size: 90%
}

body .fs80,
.fs08 {
  font-size: 80%
}

.lh2 {
  line-height: 2
}

.lh22 {
  line-height: 2.2
}

.lh25 {
  line-height: 2.5
}

a,
i,
b,
span,
select,
form *,
input,
textarea,
button,
a.button {
  display: inline-flex;
  display: -ms-inline-flexbox
}

b,
strong,
html .fwb,
html .fwb- * {
  font-weight: bold
}

.fwb2,
.fwb2- * {
  font-weight: bolder
}

.fsi,
.fsi- * {
  font-style: italic
}

.di,
p a,
small a,
p sup {
  display: inline
}

.dltr {
  direction: ltr
}

.drtl {
  direction: rtl
}

table {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left
}

thead,
.thead {
  display: table-header-group
}

caption {
  display: table-caption;
  text-align: left;
  padding: .5em
}

caption.bottom {
  caption-side: bottom
}

caption img {
  float: left;
  padding-right: .5rem
}

tr {
  display: table-row
}

tbody {
  display: table-row-group
}

tfoot {
  display: table-footer-group
}

td,
th {
  display: table-cell;
  padding: .5rem;
}

th {
  font-weight: bold;
  border-bottom: solid 1px rgba(0, 0, 0, .2)
}

details summary {
  cursor: pointer
}

.wsp {
  white-space: pre-wrap
}

body {
  overflow: hidden
}

body,
.grid {
  display: inline-block;
  display: table;
  display: flex;
  display: flexbox;
  display: box;
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  grid-template-areas: "head head head" "nav nav nav" "left middle right" "foot foot foot";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -ms-grid-columns: auto 1fr auto;
  -ms-grid-rows: auto auto 1fr auto;
  -ms-zoom: 1;
  font-size: 100%;
  zoom: 1;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  position: relative;
  counter-reset: section
}

body.nav {
  grid-template-areas: "nav head head" "nav nav nav" "left middle right" "foot foot foot"
}

body>header,
.header {
  grid-area: head;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  z-index: 10
}

body>nav,
.nav {
  grid-area: nav;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  z-index: 10
}

body>aside,
.aside {
  grid-area: left;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  overflow: auto;
  padding: 0
}

body>main,
.main {
  grid-area: middle;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  overflow: auto;
  flex-direction: column;
  -ms-flex-direction: column
}

body>main+aside,
.grid .aside+.aside {
  grid-area: right;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  overflow: auto
}

body>footer,
.footer {
  grid-area: foot;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3
}

body>footer div {
  flex-basis: 0;
  flex-grow: 1;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 0
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer
}

a:hover {
  opacity: .9
}

summary {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.zi05 {
  z-index: -5
}

.zi04 {
  z-index: -4
}

.zi03 {
  z-index: -3
}

.zi02 {
  z-index: -2
}

.zi01 {
  z-index: -1
}

.zi0 {
  z-index: 0
}

.zi1 {
  z-index: 1
}

.zi2 {
  z-index: 2
}

.zi3 {
  z-index: 3
}

.zi4 {
  z-index: 4
}

.zi5 {
  z-index: 5
}

.zi10 {
  z-index: 10
}

.zi50 {
  z-index: 50
}

.zi100 {
  z-index: 100
}

.z05,
.z05- * {
  zoom: .5
}

.z06,
.z06- * {
  zoom: .7
}

.z07,
.z07- * {
  zoom: .7
}

.z08,
.z08- * {
  zoom: .8
}

.z09,
.z09- * {
  zoom: .9
}

.z1,
.z1- * {
  zoom: 1
}

.z11,
.z11- * {
  zoom: 1.1
}

.z12,
.z12- * {
  zoom: 1.2
}

.z13,
.z13- * {
  zoom: 1.3
}

.z14,
.z14- * {
  zoom: 1.4
}

.z15,
.z15- * {
  zoom: 1.5
}

.z16,
.z16- * {
  zoom: 1.6
}

.z17,
.z19- * {
  zoom: 1.7
}

.z18,
.z18- * {
  zoom: 1.8
}

.z19,
.z19- * {
  zoom: 1.9
}

.z20,
.z20- * {
  zoom: 2
}

[class*='z'] {
  line-height: inherit;
  width: auto;
}

.pf {
  position: fixed;
  flex: unset;
  z-index: 10
}

.pa {
  position: absolute
}

.pr {
  position: relative
}

.t05 {
  top: -5rem
}

.t04 {
  top: -4rem
}

.t03 {
  top: -3rem
}

.t02 {
  top: -2rem
}

.t01 {
  top: -1rem
}

.t0 {
  top: 0
}

.t05 {
  top: .5rem
}

.t1 {
  top: 1rem
}

.t2 {
  top: 2rem
}

.t3 {
  top: 3rem
}

.t4 {
  top: 4rem
}

.t5 {
  top: 5rem
}

.l015 {
  left: -15rem
}

.l010 {
  left: -10rem
}

.l05 {
  left: -5rem
}

.l04 {
  left: -4rem
}

.l03 {
  left: -3rem
}

.l02 {
  left: -2rem
}

.l01 {
  left: -1rem
}

.l0 {
  left: 0
}

.l05 {
  left: .5rem
}

.l1 {
  left: 1rem
}

.l2 {
  left: 2rem
}

.l3 {
  left: 3rem
}

.l4 {
  left: 4rem
}

.l5 {
  left: 5rem
}

.r0 {
  right: 0
}

.r05 {
  right: .5rem
}

.r1 {
  right: 1rem
}

.r2 {
  right: 2rem
}

.r3 {
  right: 3rem
}

.r4 {
  right: 4rem
}

.r5 {
  right: 5rem
}

.b0 {
  bottom: 0
}

.b05 {
  bottom: .5rem
}

.b1 {
  bottom: 1rem
}

.b2 {
  bottom: 2rem
}

.b3 {
  bottom: 3rem
}

.dark {
  background-color: #212121;
  color: #fff
}

.dark * {
  color: #fff
}

.dark a:focus,
.dark a:hover {
  color: #fff
}

.light,
.light- * {
  background-color: #f7f7f7 !important;
  color: #111 !important
}

.lightdark,
.lightdark- * {
  background-color: lightgray !important;
  color: #222 !important
}

.light01 {
  background-color: (255, 255, 255, .1)
}

.light02 {
  background-color: (255, 255, 255, .2)
}

.light03 {
  background-color: (255, 255, 255, .3)
}

.light04 {
  background-color: (255, 255, 255, .4)
}

.light05 {
  background-color: (255, 255, 255, .5)
}

.tal {
  text-align: left
}

.tar {
  text-align: right
}

.tac {
  text-align: center
}

.fr {
  float: right
}

table.fr {
  float: right
}

.ofa {
  overflow: auto
}

.oa {
  overflow: none
}

body .w0 {
  width: auto !important
}

body .w100,
body .w100p {
  width: 100%;
  -ms-flex: 1 100%;
  flex: 1 100%
}

body .w90,
body .w90p {
  width: 90%;
  -ms-flex: 1 90%;
  flex: 1 90%
}

body .w80,
body .w80p {
  width: 80%;
  -ms-flex: 1 80%;
  flex: 1 80%
}

body .w75,
body .w75p {
  width: 75%;
  -ms-flex: 1 75%;
  flex: 1 75%
}

body .w70,
body .w70p {
  width: 70%;
  -ms-flex: 1 70%;
  flex: 1 70%
}

body .w65,
body .w65p {
  width: 65%;
  -ms-flex: 1 65%;
  flex: 1 65%
}

body .w60,
body .w60p {
  width: 60%;
  -ms-flex: 1 60%;
  flex: 1 60%
}

body .w50,
body .w50p {
  width: 50%;
  -ms-flex: 1 50%;
  flex: 1 50%
}

body .w45,
body .w45p {
  width: 45%;
  -ms-flex: 1 45%;
  flex: 1 45%
}

body .w40,
body .w40p {
  width: 40%;
  -ms-flex: 1 40%;
  flex: 1 40%
}

body .w35,
body .w35p {
  width: 35%;
  -ms-flex: 1 35%;
  flex: 1 35%
}

body .w33,
body .w33p {
  width: 33%;
  -ms-flex: 1 33%;
  flex: 1 33%
}

body .w30,
body .w30p {
  width: 30%;
  -ms-flex: 1 30%;
  flex: 1 30%
}

body .w25,
body .w25p {
  width: 25%;
  -ms-flex: 1 25%;
  flex: 1 25%
}

body .miw10,
body .miw10- * {
  min-width: 10rem
}

body .miw15,
body .miw15- * {
  min-width: 15rem
}

body .miw20,
body .miw20- * {
  min-width: 20rem
}

body .miw25,
body .miw25- * {
  min-width: 25rem
}

body .mw10,
body .mw10- * {
  max-width: 10rem
}

body .mw15,
body .mw15- * {
  max-width: 15rem
}

body .mw20,
body .mw20- * {
  max-width: 20rem
}

body .mw25,
body .mw25- * {
  max-width: 25rem
}


body .mw70p,
body .mw70p- * {
  max-width: 70%
}

body .mw75p,
body .mw75p- * {
  max-width: 75%
}

body .mw80p,
body .mw80p- * {
  max-width: 80%
}

body .mw90p,
body .mw90p- * {
  max-width: 90%
}

body .mw100p,
body .mw100p- * {
  max-width: 100%
}

body .mh70p,
body .mh70p- * {
  max-height: 70%
}

body .mh75p,
body .mh75p- * {
  max-height: 75%
}

body .mh80p,
body .mh80p- * {
  max-height: 80%
}

body .mh90p,
body .mh90p- * {
  max-height: 90%
}

body .mh100p,
body .mh100p- * {
  max-height: 100%
}

.gap05->* {
  margin-left: .25rem;
  margin-right: .25rem
}

.gap1->* {
  margin-left: .5rem;
  margin-right: .5rem
}

.gap105->* {
  margin-left: .75rem;
  margin-right: .75rem
}

.gap2->* {
  margin-left: 1rem;
  margin-right: 1rem
}

.gap3->* {
  margin-left: 2rem;
  margin-right: 2rem
}

.gaph05->* {
  margin-bottom: .25rem
}

.gaph1->* {
  margin-bottom: .5rem
}

.gaph105->* {
  margin-bottom: .75rem
}

.gaph2->* {
  margin-bottom: 1rem
}

.gaph205->* {
  margin-bottom: 1.5rem
}

.gapr1->* {
  margin-right: .5rem
}

.gapr10->* {
  margin-right: 5rem
}

.gut1->*,
.gap1>* {
  margin-right: .5rem;
  margin-bottom: .5rem
}

.gut2->*,
.gap2>* {
  margin-right: .75rem;
  margin-bottom: .75rem
}

.gut3->*,
.gap3>* {
  margin-right: 1rem;
  margin-bottom: 1rem
}

.gut4->*,
.gap4>* {
  margin-right: 1.125rem;
  margin-bottom: 1.125rem
}

.gut5->*,
.gap5>* {
  margin-right: 1.150rem;
  margin-bottom: 1.150rem
}

.gut6->*,
.gap6>* {
  margin-right: 1.175rem;
  margin-bottom: 1.175rem
}

.gut7->*,
.gap7>* {
  margin-right: 2rem;
  margin-bottom: 2rem
}

.gut8->*,
.gap8>* {
  margin-right: 3rem;
  margin-bottom: 3rem
}

.gut9->*,
.gap9>* {
  margin-right: 4rem;
  margin-bottom: 4rem
}

.gut10->*,
.gap10>* {
  margin-right: 5rem;
  margin-bottom: 5rem
}

[class*='gap']> :first-child {
  margin-left: 0;
  margin-right: 0
}

[class*='gap']> :last-child {
  margin-right: 0
}

body .fww {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap
}

body .fn1 {
  flex-shrink: 1;
  -ms-flex-negative: 1
}

body .fdc,
body .fdc->* {
  flex-direction: column;
  -ms-flex-direction: column
}

body .fdr,
body .fdr->* {
  flex-direction: row;
  -ms-flex-direction: row
}

body .flc,
body .flc->* {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-pack: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: unset !important
}

body .aic,
body .flc,
body .flc->* {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}

body .flc [class*='wc_'] {
  max-height: 100%
}

body .pa.flc,
body .pr.flc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

ul.list {
  list-style: initial;
  margin: initial;
  padding: 0 0 0 40px;
  flex-direction: column;
  -ms-flex-direction: column
}

ul.list li {
  display: list-item;
  width: 100%;
}

body [class*='icon'] {
  font-style: normal;
  color: inherit;
  line-height: normal;
  z-index: inherit;
  box-sizing: border-box;
  width: unset;
}

body .icon16 {
  font-size: 16px
}

body .icon24 {
  font-size: 24px
}

body .icon32 {
  font-size: 32px
}

body .icon48 {
  font-size: 48px
}

body .icon64 {
  font-size: 64px
}

body .icon96 {
  font-size: 96px
}

body .icon128 {
  font-size: 128px
}

body .icon192 {
  font-size: 192px
}

body .icon256 {
  font-size: 256px
}

body .icon512 {
  font-size: 512px
}

.icon.circled {
  border-radius: 50%;
  padding: 1rem;
}

.bsc {
  background-size: cover
}

.test->a {
  flex-direction: column;
  -ms-flex-direction: column;
}

.test->a .icon {
  padding-right: unset;
  font-size: initial;
}