*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none!important;
    z-index: 0;
    position: relative;
}

* {
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    word-wrap: break-word;
    white-space: normal;
    font-weight: normal;
    color: #111;
    -webkit-tap-highlight-color: transparent;
    -ms-flex-direction: row;
    flex-direction: row;
}

html {
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: .02em;
    font-family: Arial, Helvetica, sans-serif;
}

img,ul,ol{ border: 0; padding: 0 }

hr{ margin-bottom: 1rem;}

head,script,style{
    display: none!important;
}

section,article,code,pre,samp,p{
    display: block;
    font-family: inherit;
    height: inherit;
}

.f22{font-size: calc(2.2em + 2vw); line-height: 1.2}
.f20{font-size: calc(2em + 1.8vw); line-height: 1}
h1{font-size: calc(1.4em + 1.4vw); line-height: 1.4}
h2,.f16{font-size: calc(1.1em + 1vw)}
h3,.f13{ font-size: calc(1em + .9vw)}
h4,.f12{ font-size: calc(.9em + .8vw)}
h5,.f11{ font-size: calc(.8em + .7vw)}
h6,.f1{ font-size: calc(.7em + .6vw)}

.f2{ font-size: 200%; line-height: 2;}


i,b,span,.di{ display: inline }
b,strong{ font-weight: bold }

table{display:table;border-collapse: collapse;table-layout: fixed;text-align: left;}
table caption{ display: table-header-group}
thead,.thead,tr,tbody{display: table-row}
td,th{display: table-cell;padding:.5rem;}
th{font-weight: bold; border-bottom: solid 1px rgba(0,0,0, .2)}
details summary{cursor:pointer}

body {
    display: inline-block;
    display: table;
    display: flex;
    display: flexbox;
    display: box;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    grid-template-areas: "head head head" "nav nav nav" "left middle right" "foot foot foot";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    -ms-grid-columns: auto 1fr auto;
    -ms-grid-rows: auto auto 1fr auto;
    -ms-zoom: 1;
    font-size: 100%;
    zoom: 1;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -ms-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -o-font-feature-settings: "kern";
}

body.nav{
    grid-template-areas: "nav head head" "nav nav nav" "left middle right" "foot foot foot";
}

body>header {
    grid-area: head;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    z-index: 10;
}

body>nav {
    grid-area: nav;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    z-index: 10;
}

body>aside {
    grid-area: left;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    overflow: auto;
    padding: 0;
}

body>main {
    grid-area: middle;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    overflow: auto;
    flex-direction: column;
    -ms-flex-direction: column;
}

body>main+aside {
    grid-area: right;
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    overflow: auto;
}

body>footer {
    grid-area: foot;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
}

body>footer div{
    flex-basis: 0;
    flex-grow: 1;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
}

a{ color: #000; text-decoration: none; cursor:pointer }
a:hover{ opacity: .9}

summary{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pf{ position: fixed; flex: unset; z-index: 10}
.pa{ position: absolute }
.t0{ top: 0 }
.t2{ top: 2rem }
.l0{ left: 0}
.l1{ left: 1rem}
.r0{ right: 0}
.r1{ right: 1rem}
.r2{ right: 2rem}
.r3{ right: 3rem}
.b0{ bottom: 0}
.b1{ bottom: 1rem}
.b2{ bottom: 2rem}
.b3{ bottom: 3rem}

.dark { background-color: #212121; color: #fff }
.dark * { color: #fff }
.dark a:focus, .dark a:hover { color: #fff }
.light, .light- * { background-color: #f7f7f7 !important; color: #111 !important }
.lightdark, .lightdark- * { background-color: lightgray!important; color: #222 !important }
.light01{background-color: (255,255,255,.1)}
.light02{background-color: (255,255,255,.2)}
.light03{background-color: (255,255,255,.3)}
.light04{background-color: (255,255,255,.4)}
.light05{background-color: (255,255,255,.5)}
.glow->*:hover{ box-shadow: 1px 1px 10px #fff, 0px 1px 10px #fff }
.inset->*:hover, .inset{ box-shadow: 0px 2px 1px -1px rgba(0,0,0, .1), 0px 1px 1px 0px rgba(0,0,0, .1), 0px 0px 3px 0px rgba(0,0,0, .1) }
.shade->*:hover, .shade{
    box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0, .5)
}
.border->*:hover{ box-shadow: 1px 1px 1px 1px rgba(0,0,0, .1) }
.zoom->*:hover{zoom: 1.01};  

.tal { text-align: left }
.tar { text-align: right }
.tac{ text-align: center }

.ttu { text-transform: uppercase }

.w0 { width: auto !important }
.w100 { width: 100% }
.w75 { width: 75% }
.w50 { width: 50% }
.w40 { width: 40% }
.w33 { width: 33% }

.w10, .w10- * { width: 10rem }
.w11, .w11- * { width: 11rem }
.w14, .w14- * { width: 14rem }
.w15, .w15- * { width: 15rem }
.w25, .w25- * { width: 25rem }

.wh1 { width: 1rem; height: 1rem }
.wh2 { width: 2rem; height: 2rem }
.wh3 { width: 3rem; height: 3rem }
.h1 { height: 1rem }
.h2 { height: 2rem }
.h3 { height: 3rem }
.mh3 { max-height: 3rem }
.h3_5 { height: 3.5rem }
.h4 { height: 4rem }
.h4_5 { height: 4.5rem }
.h5 { height: 5rem }
.h10 { height: 10rem }
.h12 { height: 12rem }
.h15 { height: 15rem }
.h20 { height: 20rem }
.h100 { height: 100% }
.hm100 { min-height: 100% }
.p1vw { padding: 1vw}
.p5vw { padding: 5vw}
.p10vw { padding: 10vw}
.p15vw { padding: 15vw}
.p5v { padding: 5vhmin}
.p10v { padding: 10vmin}
.p15v { padding: 15vmin}
.p025, .p025->*{ padding: .25rem }
.p05{ padding: .5rem }
.p1, .p1->*{ padding: 1rem }
.p2{ padding: 2rem }
.p3{ padding: 3rem }
.p4{ padding: 4rem }
.p5{ padding: 5rem }
.p5p{ padding: 5% }
.p10{ padding: 10rem }
.p10p{ padding: 10% }
.pl1{ padding-left: 1rem }
.pr025, .pr025->*{ padding-right: .25rem }
.pr05, .pr05->*{ padding-right: .5rem }
.pr1{ padding-right: 1rem }
.pr5{ padding-right: 5rem }
.pr6{ padding-right: 6rem }
.pr10{ padding-right: 10rem }
.pt05{ padding-top: .5rem }
.pt1{ padding-top: 1rem }
.pt105{ padding-top: 1.5rem }
.pt2{ padding-top: 2rem }
.m05, .m05- *{ margin: .5rem }
.mt1, .mt1- *{ margin-top: 1rem }
.mt2, .mt2- *{ margin-top: 2rem }
.mt3, .mt3- *{ margin-top: 3rem }
.m1, .m1- *{ margin: 1rem }

.gap05->*{ margin: .25rem .25rem .25rem 0 }
.gap1->*{ margin: .5rem .5rem .5rem 0 }
.gap105->*{ margin: .75rem .75rem .75rem 0 }
.gap2->*{ margin: 1rem 1rem 1rem 1rem }
.gap3->*{ margin: 2rem 2rem 2rem 2rem }

[class*='gap'] > :first-child { margin-left: 0 }
[class*='gap'] > :last-child { margin-right: 0 }

.br03->*{ border-radius: .3rem }
.br04->*{ border-radius: .4rem }
.br05->*{ border-radius: .5rem }
.br50 { border-radius: 50% }

.zi10{ z-index: 10}
.zi50{ z-index: 50}
.zi100{ z-index: 100}

.z05, .z05- * { zoom: .5 }
.z06, .z06- * { zoom: .7 }
.z07, .z07- * { zoom: .7 }
.z08, .z08- * { zoom: .8 }
.z09, .z09- * { zoom: .9 }
.z1, .z1- * { zoom: 1 }
.z11, .z11- * { zoom: 1.1 }
.z12, .z12- * { zoom: 1.2 }
.z13, .z13- * { zoom: 1.3 }
.z14, .z14- * { zoom: 1.4 }
.z15, .z15- * { zoom: 1.5 }
.z16, .z16- * { zoom: 1.6 }
.z17, .z19- * { zoom: 1.7 }
.z18, .z18- * { zoom: 1.8 }
.z19, .z19- * { zoom: 1.9 }
.z20, .z20- * { zoom: 2 }

[class*='z'] {
    line-height: inherit;
    /*line-height: normal;*/
    width: auto;
}

.fww{ flex-wrap: wrap; -ms-flex-wrap: wrap }
.fs1{ flex-shrink: 1; -ms-flex-negative: 1 }
.fdc{ flex-direction: column; -ms-flex-direction: column}
.fdr{ flex-direction: column; -ms-flex-direction: row}
.flc{ 
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

[class*='icon'] { 
    font-style: normal;
    color: inherit;
    line-height: normal;
}

.icon16{ font-size: 16px }
.icon24{ font-size: 24px }
.icon32{ font-size: 32px }
.icon48{ font-size: 48px }
.icon64{ font-size: 64px }
.icon96{ font-size: 96px }
.icon128{ font-size: 128px }
.icon192{ font-size: 192px }
.icon256{ font-size: 256px }

.test- > a{
    flex-direction: column;
    -ms-flex-direction: column;
}

.test-> a .icon{
    padding-right: unset;
    font-size: initial;
}

/* Screen Sized: XXS, XS, SM, MD, LG, XL, XXL, XXXL */

.wxxs{ max-width: 220px }
.pauto{ padding: 3rem }

body [class*='_dn'], body [class*='_du']{display: none}

/*Min*/
@media only screen and (min-width: 1440px) {
    body .xxxl_dn{display: inherit}
}

@media only screen and (min-width: 1280px) {
    body .xxl_dn{display: inherit}
}

@media only screen and (min-width: 960px) {
    body .xl_dn{display: inherit}
}

@media only screen and (min-width: 600px) {
    body .lg_dn{display: inherit}
}

@media only screen and (min-width: 480px) {
    body .md_dn{display: inherit}
}

@media only screen and (min-width: 360px) {
    body .sm_dn{display: inherit}
}

@media only screen and (min-width: 300px) {
    body .xs_dn{display: inherit}
}

@media only screen and (min-width: 220px) {
    body .xxs_dn{display: inherit}
}



/*Max*/
@media only screen and (max-width: 1440px) {
    body .xxxl_du{display: inherit}
}

@media only screen and (max-width: 1280px) {
    body .xxl_du{display: inherit}
}

@media only screen and (max-width: 960px) {
    body .xl_du{display: inherit}
}

@media only screen and (max-width: 600px) {
    body .lg_du{display: inherit}

    .grid {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .grid > * {
        padding: unset;
        width: 100%;
    }

    nav.topbar a{ font-size: 80% };
}

@media only screen and (max-width: 480px) {
    body .md_du{display: inherit}
    body .pauto{padding: 2rem}
}

@media only screen and (max-width: 360px) {
    body .sm_du{display: inherit}
    body .pauto{padding: 1.5rem}
    nav.topbar a{ font-size: 0}
}

@media only screen and (max-width: 300px) {
    body .xs_du{display: inherit}
}

@media only screen and (max-width: 220px) {
    body .xxs_du{display: inherit}
}