summary::marker {
    display: none
}

.sidebar summary:after {
    content: '\02C5';
    position: absolute;
    right: 1.5rem;
    transform: scaleX(1.9);
    font-size: 90%;
}
.rtl .sidebar summary:after {
    right: unset;
    left: 1.5rem;
}

.sidebar details[open] summary:after,
.sidebar details[open] details[open] summary:after {
    content: "\02C4";
}