.alert{
    border-radius: .5rem;
    display: inline-block;
    padding: 1rem 1.2rem;
    box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -webkit-box-shadow: 0 2px 4px #00000080;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0, .5);
    align-items: center;
}

.alert.banner{
    width: 100%;
}