.cards>figure,
.cards>* {
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .1), 0px 1px 1px 0px rgba(0, 0, 0, .05), 0px 0px 3px 0px rgba(0, 0, 0, .1);
  word-break: break-word;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.box *,
.cards {
  flex-direction: column;
  -ms-flex-direction: column;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  word-wrap: break-word;
}

.box figure figcaption,
.card figure figcaption {
  padding-top: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: 100%
}

.cards[class*='gut1'] {
  margin-right: -.5rem
}

.cards[class*='gut2'] {
  margin-right: -.75rem
}

.cards[class*='gut3'] {
  margin-right: -1rem
}

.cards[class*='gut4'] {
  margin-right: -1.125rem
}

.cards[class*='gut5'] {
  margin-right: -1.150rem
}

.cards[class*='gut6'] {
  margin-right: -1.175rem
}

.cards[class*='gut7'] {
  margin-right: -2rem
}

.cards[class*='gut8'] {
  margin-right: -3rem
}

.cards[class*='gut9'] {
  margin-right: -4rem
}

.cards[class*='gut10'] {
  margin-right: -5rem
}

.box.list {
  display: flex;
  grid-template-columns: unset;
  flex-direction: column;
  text-align: left
}

.box.list * {
  flex-direction: row;
  -ms-flex-direction: row;
  flex: 1;
  -ms-flex: 1;
  align-items: center;
}

.box.list .fr {
  float: right
}