.cards figure,
.cards div{
    border-radius: 3px;
    word-break: break-word;
}

/*.box, * .card{
    flex: auto;
    -ms-flex: auto;
    flex-wrap: wrap;
}*/

.box *, .cards{
    flex-direction: column;
    -ms-flex-direction: column;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    word-wrap: break-word;
}

.box figure figcaption,
.card figure figcaption{
    padding-top: 1rem;
}

.cards { display: grid; grid-template-columns: 100%;}