.cards figure,
.cards div{
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0, .1), 0px 1px 1px 0px rgba(0,0,0, .05), 0px 0px 3px 0px rgba(0,0,0, .1)
}

/*.box, * .card{
    flex: auto;
    -ms-flex: auto;
    flex-wrap: wrap;
}*/

.box *, .cards{
    flex-direction: column;
    -ms-flex-direction: column;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.box figure figcaption,
.card figure figcaption{
    padding-top: 1rem;
}

.cards { display: grid; grid-template-columns: auto; width: 0}