.black, .black- >* { background-color: #000; color: #fff; }
.bcwhite, .bcwhite- *{ background-color: #fff }
.bcblack, .bcblack- *{ background-color: #000 }

/*https://www.rapidtables.com/web/color/html-color-codes.html*/

/* Red */
.lightsalmon{color:#ffa07a}
.salmon{color:#fa8072}
.darksalmon{color:#e9967A}
.lightcoral{color:#f08080}
.indianred{color:#cd5c5c}
.crimson{color:#dc143c}
.firebrick,.firebrick- *{color:#b22222}
.red,.red- *, .sred- *.sel{color:#ff0000}
.darkred,.darkred- *{color:#8b0000}

.bclightsalmon{background-color:#ffa07a}
.bcsalmon{background-color:#fa8072}
.bcdarksalmon{background-color:#e9967A}
.bclightcoral{background-color:#f08080}
.bcindianred{background-color:#cd5c5c}
.bccrimson{background-color:#dc143c}
.bcfirebrick{background-color:#b22222}
.bcred{background-color:#ff0000}
.bcdarkred{background-color:#8b0000}

/* Orange */
.coral{color:#ff7f50}
.tomato{color:#ff6347}
.orangered{color:#ff4500}
.gold{color:#ffd700}
.orange{color:#ffA500}
.darkorange{color:#ff8c00}

/* Yellow */
.lightyellow{color:#ffffe0}
.lemonchiffon{color:#fffacd}
.lightgoldenrodyellow{color:#fafad2}
.papayawhip{color:#ffefd5}
.moccasin{color:#ffe4b5}
.peachpuff{color:#ffdab9}
.palegoldenrod{color:#eee8aa}
.khaki{color:#f0e68c}
.darkkhaki{color:#bdb76b}
.yellow,.yellow- *{color:#ffff00}

.bclightyellow{background-color:#ffffe0}
.bclemonchiffon{background-color:#fffacd}
.bclightgoldenrodyellow{background-color:#fafad2}
.bcpapayawhip{background-color:#ffefd5}
.bcmoccasin{background-color:#ffe4b5}
.bcpeachpuff{background-color:#ffdab9}
.bcpalegoldenrod{background-color:#eee8aa}
.bckhaki{background-color:#f0e68c}
.bcdarkkhaki{background-color:#bdb76b}
.bcyellow{background-color:#ffff00}

/* Green */
.lawngreen{color:#7cfc00}
.chartreuse{color:#7fff00}
.limegreen{color:#32cd32}
.lime{color:#00ff00}
.forestgreen{color:#228b22}
.green{color:#008000}
.darkgreen{color:#006400}
.greenyellow{color:#Adff2f}
.yellowgreen{color:#9Acd32}
.springgreen{color:#00ff7f}
.mediumspringgreen{color:#00fA9A}
.lightgreen{color:#90ee90}
.palegreen{color:#98fb98}
.darkseagreen{color:#8fbc8f}
.mediumseagreen{color:#3cb371}
.seagreen{color:#2e8b57}
.olive{color:#808000}
.darkolivegreen{color:#556b2f}
.olivedrab{color:#6b8e23}

/* Cyan */
.lightcyan{color:#e0ffff}
.cyan,.aqua{color:#00ffff}
.aquamarine{color:#7fffd4}
.mediumaquamarine{color:#66cdaa}
.paleturquoise{color:#afeeee}
.turquoise{color:#40e0d0}
.mediumturquoise{color:#48d1cc}
.darkturquoise{color:#00ced1}
.lightseagreen{color:#20b2aa}
.cadetblue{color:#5f9ea0}
.darkcyan{color:#008b8b}
.teal{color:#008080}

/* Blue */
.powderblue{color:#b0e0e6}
.lightblue{color:#add8e6}
.lightskyblue{color:#87cefa}
.skyblue{color:#87ceeb}
.deepskyblue{color:#00bfff}
.lightsteelblue{color:#b0c4de}
.dodgerblue{color:#1e90ff}
.cornflowerblue{color:#6495ed}
.steelblue{color:#4682b4}
.royalblue{color:#4169e1}
.blue{color:#0000ff}
.mediumblue{color:#0000cd}
.darkblue{color:#00008b}
.navy{color:#000080}
.midnightblue{color:#191970}
.mediumslateblue{color:#7b68ee}
.slateblue{color:#6a5acd}
.darkslateblue{color:#483d8b}

/* Purple */
.lavender{color:#e6e6fa}
.thistle{color:#d8bfd8}
.plum{color:#dda0dd}
.violet{color:#ee82ee}
.orchid{color:#da70d6}
.fuchsia{color:#ff00ff}
.magenta{color:#ff00ff}
.mediumorchid{color:#ba55d3}
.mediumpurple{color:#9370db}
.blueviolet{color:#8a2be2}
.darkviolet{color:#9400d3}
.darkorchid{color:#9932cc}
.darkmagenta{color:#8b008b}
.purple{color:#800080}
.indigo{color:#4b0082}

/* Pink */
.pink{color:#ffc0cb}
.lightpink{color:#ffb6c1}
.hotpink{color:#ff69b4}
.deeppink{color:#ff1493}
.palevioletred{color:#db7093}
.mediumvioletred{color:#c71585}

/* White */
.white{color:#fff}
.snow{color:#fffafa}
.honeydew{color:#f0fff0}
.mintcream{color:#f5fffa}
.azure{color:#f0ffff}
.aliceblue{color:#f0f8ff}
.ghostwhite{color:#f8f8ff}
.whitesmoke{color:#f5f5f5}
.seashell{color:#fff5ee}
.beige{color:#f5f5dc}
.oldlace{color:#fdf5e6}
.floralwhite{color:#fffaf0}
.ivory{color:#fffff0}
.antiquewhite{color:#faebd7}
.linen{color:#faf0e6}
.lavenderblush{color:#fff0f5}
.mistyrose{color:#ffe4e1}

/* Gray */
.gainsboro{color:#dcdcdc}
.lightgray{color:#d3d3d3}
.silver{color:#c0c0c0}
.darkgray{color:#a9a9a9}
.gray{color:#808080}
.dimgray{color:#696969}
.lightslategray{color:#778899}
.slategray{color:#708090}
.darkslategray{color:#2f4f4f}
.black{color:#000}

/* Brown */
.cornsilk{color:#fff8dc}
.blanchedalmond{color:#ffebcd}
.bisque{color:#ffe4c4}
.navajowhite{color:#ffdead}
.wheat{color:#f5deb3}
.burlywood{color:#deb887}
.tan{color:#d2b48c}
.rosybrown{color:#bc8f8f}
.sandybrown{color:#f4a460}
.goldenrod{color:#daa520}
.peru{color:#cd853f}
.chocolate{color:#d2691e}
.saddlebrown{color:#8b4513}
.sienna{color:#a0522d}
.brown{color:#a52a2a}
.maroon{color:#800000}