.modal {
  position: fixed;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 2px 4px #00000080;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  z-index: 1;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: .5rem;
  z-index: 100;
  margin: initial;
}

.modal:target {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.modal .close {
  position: absolute;
  right: 1rem;
  top: 0;
  transition: color .3s;
  font-size: 2em;
  font-weight: bold;
  z-index: 10;
}

.modal:target+.backdrop {
  background: rgba(0, 0, 0, .7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  z-index: 50;
  margin: inherit;
}

.modal.menu {
  display: initial;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: initial;
}

.modal.menu section {
  width: inherit;
  height: inherit;
  overflow: scroll;
  margin-top: unset;
}

.modal.menu section * {
  height: unset;
  display: inherit;
  width: 100%;
  font-size: initial;
}

body.disabled:after {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  z-index: 100;
}