form .group {
    flex-direction: row;
    -ms-flex-direction: row;
}
  
form .group label {
    flex: none;
    --ms-flex: none;
    display: block;
    width: 125px;
    font-weight: bold;
    font-size: 1em;
}

form .group label.right-inline {
    text-align: right;  
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
}
  
form .group .input-control {
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
}
  
@media (max-width: 768px) {
    form .group {
      flex-direction: column;
      --ms-flex-direction: column;
    }
    form .group .input-control {
      margin-top: 2px;
    }
    form .group label.right-inline {
      text-align: left;  
      padding-right: 0;
      padding-left: 0;   
    }
}

input,select,textarea,button,.button {
    min-height: 2rem;
    flex: none;
    position: relative;
    border: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

select{
    height: 3rem;
}

input[type="checkbox"], input[type="checkbox"]:hover{
    box-shadow: unset;
    min-height: unset;
}

button,.button{
    cursor: pointer;
    justify-content: center;
}

button.text,.button.text{
    background-color: transparent;
    color: #000;
}

button.icon,.button.icon{
    font-size: 130%;
    float: left;
}