form{

}

input,select,textarea,button,.button {
    min-height: 2rem;
    flex: none;
    position: relative;
    border: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

select{
    height: 3rem;
}

button,.button{
    display: inline;
    cursor: pointer;
    justify-content: center;
}

button.text,.button.text{
    background-color: transparent;
    color: var(--dark);
}

button.icon,.button.icon{
    font-size: 130%;
    float: left;
}