summary {
  display: block;
  cursor: pointer;
  outline: 0;
}

summary::marker {
  display: none;
}

.tree-nav__item {
  display: block;
  white-space: nowrap;
  position: relative;
}

.tree-nav__item.is-expandable::before {
  border-left: 1px solid #333;
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 2.4rem;
  height: calc(100% - 2.4rem);
}

.tree-nav__item .tree-nav__item {
  margin-left: 2.4rem;
}

.tree-nav__item.is-expandable[open]>.tree-nav__item-title::before {
  font-family: "ionicons";
  transform: rotate(90deg);
}

.tree-nav__item.is-expandable>.tree-nav__item-title {
  padding-left: 2.4rem;
}

.tree-nav__item.is-expandable>.tree-nav__item-title::before {
  position: absolute;
  will-change: transform;
  transition: transform 300ms ease;
  font-family: "ionicons";
  content: "\f125";
  left: 0;
  display: inline-block;
  width: 1.6rem;
  text-align: center;
}

.tree-nav__item-title {
  cursor: pointer;
  display: block;
}

.tree-nav__item-title .icon {
  display: inline;
  padding-left: 1.6rem;
  margin-right: 0.8rem;
  position: relative;
}

.tree-nav__item-title .icon::before {
  top: 0;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 1.6rem;
  text-align: center;
}