.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul li a{
  padding: 0.5rem;
  width: 100%;
}

.dropdown ul li:hover{
  background-color: rgba(0, 0, 0, 0.025);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown button:focus .dropdown-content {
  display: unset;
}