nav[class*='gap']> :first-child {
  margin-left: inherit;
  margin-right: 0
}

nav[class*='gap']> :last-child {
  margin-right: initial
}

nav[class*='gap'] figure {
  margin: 0
}

/* Global */
nav {
  word-break: break-all;
  position: relative;
}

nav.guillemet * a:after,
nav.guillemet a:after {
  content: "\00a0\00a0 \00BB \00a0\00a0"
}

nav.pointer * a:after,
nav.pointer a:after {
  content: "\00a0\00a0 \276F \00a0\00a0"
}

nav.pipe a:after {
  content: "\00a0\00a0 | \00a0\00a0"
}

nav.afr a:after,
nav.fr {
  float: right;
}

/* Crumbs */

.crumbs * li:last-child:after {
  content: "";
}

/* Pagination */

nav.pagination a {
  padding: .25em .5em;
}

nav.pagination>span a {
  color: inherit;
  background-color: inherit;
}

nav.pagination a:hover {
  background-color: rgba(0, 0, 0, .1);
}

nav[class*='gap']> :first-child {
  margin-left: inherit;
  margin-right: 0
}

nav[class*='gap']> :last-child {
  margin-right: initial
}

nav[class*='gap'] figure {
  margin: 0
}

/* Tabs */

.tabs {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  word-break: break-word
}

.tabs.full>label {
  flex: 1;
  -ms-flex: 1;
}

.tabs>label {
  order: 0;
  display: block;
  padding: .5rem 1.5rem;
  border: 1px solid #ddd;
  border-bottom-width: 0;
  border-left-width: thin;
  cursor: pointer;
  background-color: #eeeeee;
  color: #444;
  font-size: 92%;
}

.tabs>label:active {
  background-color: #fff;
}

.tabs>section {
  order: 1;
  flex-grow: 1;
  width: 100%;
  display: none;
  margin: 0;
  padding: 1.5rem;
  border: 1px solid #ddd;
}

.tabs>input[type="radio"]:checked+label {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  margin-bottom: -1px;
  z-index: 1;
}

.tabs>input[type="radio"]:checked+label+section {
  display: block;
  background-color: #ffffff;
  color: #000;
  overflow: scroll;
}

.tabs.accordions {
  flex-direction: column;
  -ms-flex-direction: column;
}

.tabs.accordions>label {
  padding: 1rem;
}

.tabs.accordions>section {
  order: unset;
}

* .toggleable {
  display: none;
}

#togglebar:checked~* .toggleable {
  display: inherit;
}