/*nav.slider {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    height: inherit;
}*/

nav.slider{
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}

nav.slider *{
    position:relative;
}

nav.slider aside, nav.slider div{
    flex: 2;
    -ms-flex: 2;
    z-index: 2;
}

nav.slider article{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

nav.slider aside *, nav.slider div *{
    margin: auto 0;
    z-index: 2;
}
nav.slider aside *, nav.slider div:last-child *{
    margin: auto 0 auto auto
}

nav.slider figure img{
    max-width: 100%;
    width: 100%;
    z-index: 0;
    display: unset;
    float: left;
}

.nav.slider section figure{
    position: absolute;
}

.nav.slider figure figcaption{
    position: absolute;
}
  
nav.slider label {
    cursor: pointer;
    color: #444;
    z-index: 1;
    position:relative;
    display: block;
}

nav.slider.dc label {
    margin: auto 0 0;
}
  
nav.slider label:active{
    color: #000;
}

nav.slider section {
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    margin: 0;
}
  
nav.slider input[type="radio"] {
    display: none;
}
  
nav.slider input[type="radio"]:checked + label {
    color: #fff;
    z-index: 1;
}

nav.slider input[type="radio"]:checked + label + section {
    display: inherit;
    color:#000;
}