nav.slider {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    grid-area: 1 / 1 / 2 / 2;
}

nav.slider figure img{
    max-width: 100%;
}

.nav.slider figure{
    position: relative;
}

.nav.slider figure figcaption{
    position: absolute;
}
  
nav.slider label {
    order: 0;
    display: block;
    cursor: pointer;
    color: #444;
    position: absolute;
    left: 1em;
}
  
nav.slider label:active{
    background-color: #fff;
}

nav.slider [class^="slidernew"] {
    order: 1;
    flex-grow: 1;
    width: 100%;
    display: none;
    margin: 0;
}
  
nav.slider input[type="radio"] {
    display: none;
}
  
nav.slider input[type="radio"]:checked + label {
    color: #000;
    z-index: 1;
}
  
nav.slider input[type="radio"]:checked + label + [class^="slidernew"] {
    display: block;
    color:#000;
    overflow: scroll;
}