nav.slider {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    height: inherit;
}

nav.slider figure img{
    max-width: 100%;
}

.nav.slider figure{
    position: relative;
}

.nav.slider figure figcaption{
    position: absolute;
}
  
nav.slider label {
    cursor: pointer;
    color: #444;
    z-index: 1;
    height: 0;
    align-self: flex-end;
    -ms-flex-align: end;
}
  
nav.slider label:active{
    color: #000;
}

nav.slider [class^="slidernew"] {
    position: absolute;
    width: 100%;
    display: none;
    margin: 0;
}
  
nav.slider input[type="radio"] {
    display: none;
}
  
nav.slider input[type="radio"]:checked + label {
    color: #fff;
    z-index: 1;
}
  
nav.slider input[type="radio"]:checked + label + [class^="slidernew"] {
    display: block;
    color:#000;
    overflow: scroll;
}