.glow->*:hover{ box-shadow: 1px 1px 10px #fff, 0px 1px 10px #fff }
.inset->*:hover, .inset{ box-shadow: 0px 2px 1px -1px rgba(0,0,0, .1), 0px 1px 1px 0px rgba(0,0,0, .1), 0px 0px 3px 0px rgba(0,0,0, .1) }
.shade->*:hover, .shade{
    box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0, .5)
}
.shade1->*:hover, .shade1{
    box-shadow: 0 2px 4px rgba(0,0,0, .1);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0, .1)
}
.border->*:hover{ box-shadow: 1px 1px 1px 1px rgba(0,0,0, .1) }
.zoom->*:hover{zoom: 1.01};  

.black, .black- >* { background-color: #000; color: #fff; }
.bcwhite, .bcwhite- *{ background-color: #fff }
.bcblack, .bcblack- *{ background-color: #000 }

/*https://www.rapidtables.com/web/color/html-color-codes.html*/

/* Red */
.lightsalmon{color:#ffa07a}
.salmon{color:#fa8072}
.darksalmon{color:#e9967A}
.lightcoral{color:#f08080}
.indianred{color:#cd5c5c}
.crimson{color:#dc143c}
.firebrick,.firebrick- *{color:#b22222}
.red,.red- *, .sred- *.sel{color:#ff0000}
.darkred,.darkred- *{color:#8b0000}

.bclightsalmon{background-color:#ffa07a}
.bcsalmon{background-color:#fa8072}
.bcdarksalmon{background-color:#e9967A}
.bclightcoral{background-color:#f08080}
.bcindianred{background-color:#cd5c5c}
.bccrimson{background-color:#dc143c}
.bcfirebrick{background-color:#b22222}
.bcred{background-color:#ff0000}
.bcdarkred{background-color:#8b0000}

/* Orange */
.coral{color:#ff7f50}
.tomato{color:#ff6347}
.orangered{color:#ff4500}
.gold{color:#ffd700}
.orange{color:#ffA500}
.darkorange{color:#ff8c00}

/* Yellow */
.lightyellow{color:#ffffe0}
.lemonchiffon{color:#fffacd}
.lightgoldenrodyellow{color:#fafad2}
.papayawhip{color:#ffefd5}
.moccasin{color:#ffe4b5}
.peachpuff{color:#ffdab9}
.palegoldenrod{color:#eee8aa}
.khaki{color:#f0e68c}
.darkkhaki{color:#bdb76b}
.yellow,.yellow- *{color:#ffff00}

.bclightyellow{background-color:#ffffe0}
.bclemonchiffon{background-color:#fffacd}
.bclightgoldenrodyellow{background-color:#fafad2}
.bcpapayawhip{background-color:#ffefd5}
.bcmoccasin{background-color:#ffe4b5}
.bcpeachpuff{background-color:#ffdab9}
.bcpalegoldenrod{background-color:#eee8aa}
.bckhaki{background-color:#f0e68c}
.bcdarkkhaki{background-color:#bdb76b}
.bcyellow{background-color:#ffff00}

/* Green */
.lawngreen{color:#7cfc00}
.chartreuse{color:#7fff00}
.limegreen{color:#32cd32}
.lime{color:#00ff00}
.forestgreen{color:#228b22}
.green{color:#008000}
.darkgreen{color:#006400}
.greenyellow{color:#Adff2f}
.yellowgreen{color:#9Acd32}
.springgreen{color:#00ff7f}
.mediumspringgreen{color:#00fA9A}
.lightgreen{color:#90ee90}
.palegreen{color:#98fb98}
.darkseagreen{color:#8fbc8f}
.mediumseagreen{color:#3cb371}
.seagreen{color:#2e8b57}
.olive{color:#808000}
.darkolivegreen{color:#556b2f}
.olivedrab{color:#6b8e23}

/* Cyan */
.lightcyan{color:#e0ffff}
.cyan,.aqua{color:#00ffff}
.aquamarine{color:#7fffd4}
.mediumaquamarine{color:#66cdaa}
.paleturquoise{color:#afeeee}
.turquoise{color:#40e0d0}
.mediumturquoise{color:#48d1cc}
.darkturquoise{color:#00ced1}
.lightseagreen{color:#20b2aa}
.cadetblue{color:#5f9ea0}
.darkcyan{color:#008b8b}
.teal{color:#008080}

/* Blue */
.powderblue{color:#b0e0e6}
.lightblue{color:#add8e6}
.lightskyblue{color:#87cefa}
.skyblue{color:#87ceeb}
.deepskyblue{color:#00bfff}
.lightsteelblue{color:#b0c4de}
.dodgerblue{color:#1e90ff}
.cornflowerblue{color:#6495ed}
.steelblue{color:#4682b4}
.royalblue{color:#4169e1}
.blue{color:#0000ff}
.mediumblue{color:#0000cd}
.darkblue{color:#00008b}
.navy{color:#000080}
.midnightblue{color:#191970}
.mediumslateblue{color:#7b68ee}
.slateblue{color:#6a5acd}
.darkslateblue{color:#483d8b}

/* Purple */
.lavender{color:#e6e6fa}
.thistle{color:#d8bfd8}
.plum{color:#dda0dd}
.violet{color:#ee82ee}
.orchid{color:#da70d6}
.fuchsia{color:#ff00ff}
.magenta{color:#ff00ff}
.mediumorchid{color:#ba55d3}
.mediumpurple{color:#9370db}
.blueviolet{color:#8a2be2}
.darkviolet{color:#9400d3}
.darkorchid{color:#9932cc}
.darkmagenta{color:#8b008b}
.purple{color:#800080}
.indigo{color:#4b0082}

/* Pink */
.pink{color:#ffc0cb}
.lightpink{color:#ffb6c1}
.hotpink{color:#ff69b4}
.deeppink{color:#ff1493}
.palevioletred{color:#db7093}
.mediumvioletred{color:#c71585}

/* White */
.white,.white- *, .swhite- *.sel{color:#fff}
.snow{color:#fffafa}
.honeydew{color:#f0fff0}
.mintcream{color:#f5fffa}
.azure{color:#f0ffff}
.aliceblue{color:#f0f8ff}
.ghostwhite{color:#f8f8ff}
.whitesmoke{color:#f5f5f5}
.seashell{color:#fff5ee}
.beige{color:#f5f5dc}
.oldlace{color:#fdf5e6}
.floralwhite{color:#fffaf0}
.ivory{color:#fffff0}
.antiquewhite{color:#faebd7}
.linen{color:#faf0e6}
.lavenderblush{color:#fff0f5}
.mistyrose{color:#ffe4e1}

/* Gray */
.gainsboro{color:#dcdcdc}
.lightgray{color:#d3d3d3}
.silver{color:#c0c0c0}
.darkgray{color:#a9a9a9}
.gray{color:#808080}
.dimgray{color:#696969}
.lightslategray{color:#778899}
.slategray{color:#708090}
.darkslategray{color:#2f4f4f}
.black{color:#000}

/* Brown */
.cornsilk{color:#fff8dc}
.blanchedalmond{color:#ffebcd}
.bisque{color:#ffe4c4}
.navajowhite{color:#ffdead}
.wheat{color:#f5deb3}
.burlywood{color:#deb887}
.tan{color:#d2b48c}
.rosybrown{color:#bc8f8f}
.sandybrown{color:#f4a460}
.goldenrod{color:#daa520}
.peru{color:#cd853f}
.chocolate{color:#d2691e}
.saddlebrown{color:#8b4513}
.sienna{color:#a0522d}
.brown{color:#a52a2a}
.maroon{color:#800000}

.br0,.br0->*{ border-radius: 0}
.br03,.br03->*{ border-radius: .3rem }
.br04,.br04->*{ border-radius: .4rem }
.br05,.br05->*{ border-radius: .5rem }
.br50,.br50->* { border-radius: 50% }

/* Screen Sized: XXS, XS, SM, MD, LG, XL, XXL, XXXL */

.wxxs{ max-width: 220px }
.pauto{ padding: 3rem }
.pauto1w{ padding: 3rem 1rem }

.wh1 { width: 1rem; height: 1rem }
.wh2 { width: 2rem; height: 2rem }
.wh3 { width: 3rem; height: 3rem }
.h1 { height: 1rem }
.h2 { height: 2rem }
.h3 { height: 3rem }
.mh3 { max-height: 3rem }
.mh5 { max-height: 5rem }
.mh10 { max-height: 10rem }
.mh50p { max-height: 50% }
.mh60p { max-height: 60% }
.mh70p { max-height: 70% }
.mh80p { max-height: 80% }
.mh90p { max-height: 90% }
.h3_5 { height: 3.5rem }
.h4 { height: 4rem }
.h4_5 { height: 4.5rem }
.h5 { height: 5rem }
.h10 { height: 10rem }
.h12 { height: 12rem }
.h15 { height: 15rem }
.h20 { height: 20rem }
.h100 { height: 100% }
.hm100 { min-height: 100% }
.p1vw { padding: 1vw}
.p5vw { padding: 5vw}
.p10vw { padding: 10vw}
.p15vw { padding: 15vw}
.p5v { padding: 5vhmin}
.p10v { padding: 10vmin}
.p15v { padding: 15vmin}
.p025, .p025->*{ padding: .25rem }
.p05{ padding: .5rem }
.p1, .p1->*{ padding: 1rem }
.p2{ padding: 2rem }
.p3{ padding: 3rem }
.p4{ padding: 4rem }
.p5{ padding: 5rem }
.p5p{ padding: 5% }
.p10{ padding: 10rem }
.p10p{ padding: 10% }
.pl1{ padding-left: 1rem }
.pr025, .pr025->*{ padding-right: .25rem }
.pr05, .pr05->*{ padding-right: .5rem }
.pr1{ padding-right: 1rem }
.pr2{ padding-right: 2rem }
.pr3{ padding-right: 3rem }
.pr4{ padding-right: 4rem }
.pr5{ padding-right: 5rem }
.pr6{ padding-right: 6rem }
.pr10{ padding-right: 10rem }
.pt05{ padding-top: .5rem }
.pt1{ padding-top: 1rem }
.pt105{ padding-top: 1.5rem }
.pt2{ padding-top: 2rem }
.pb1{ padding-bottom: 1rem }
.pb105{ padding-bottom: 1.5rem }
.pb2{ padding-bottom: 2rem }
.m05, .m05- *{ margin: .5rem }
.mt1, .mt1- *{ margin-top: 1rem }
.mt2, .mt2- *{ margin-top: 2rem }
.mt3, .mt3- *{ margin-top: 3rem }
.m1, .m1- *{ margin: 1rem }

body [class*='_dn'], body [class*='_du']{display: none}

/*Min*/
@media only screen and (min-width: 1440px) {
    body .xxxl_dn{display: inherit}
}

@media only screen and (min-width: 1280px) {
    body .xxl_dn{display: inherit}
}

@media only screen and (min-width: 960px) {
    body .xl_dn{display: inherit}
}

@media only screen and (min-width: 600px) {
    body .lg_dn{display: inherit}
}

@media only screen and (min-width: 480px) {
    body .md_dn{display: inherit}
}

@media only screen and (min-width: 360px) {
    body .sm_dn{display: inherit}
}

@media only screen and (min-width: 300px) {
    body .xs_dn{display: inherit}
}

@media only screen and (min-width: 220px) {
    body .xxs_dn{display: inherit}
}

/*Max*/
@media only screen and (max-width: 1440px) {
    body .xxxl_du{display: inherit}
}

@media only screen and (max-width: 1280px) {
    body .xxl_du{display: inherit}
}

@media only screen and (max-width: 960px) {
    body .xl_du{display: inherit}
}

@media only screen and (max-width: 600px) {
    body .lg_du{display: inherit}

    .grid {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .grid > * {
        padding: unset;
        width: 100%;
    }

    nav.topbar a{ font-size: 80% };
}

@media only screen and (max-width: 480px) {
    body .md_du{display: inherit}
    body .pauto{padding: 2rem}
}

@media only screen and (max-width: 360px) {
    body .sm_du{display: inherit}
    body .pauto{padding: 1.5rem}
    nav.topbar a{ font-size: 0}
}

@media only screen and (max-width: 300px) {
    body .xs_du{display: inherit}
}

@media only screen and (max-width: 220px) {
    body .xxs_du{display: inherit}
}