body .glow->*:hover{ box-shadow: 1px 1px 10px #fff, 0px 1px 10px #fff }
body .inset->*:hover, .inset{ box-shadow: 0px 2px 1px -1px rgba(0,0,0, .1), 0px 1px 1px 0px rgba(0,0,0, .1), 0px 0px 3px 0px rgba(0,0,0, .1) }
body .shade_h->*:hover, .shade{
  box-shadow: 0 2px 4px rgba(0,0,0, .5);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .5);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0, .5)
}

body .shade1_h->*:hover, body .shade1, body .bs1{
  box-shadow: 0 2px 4px rgba(0,0,0, .1);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .1);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0, .1)
}

body .shade2_h->*:hover, body .shade2, body .bs2{
  box-shadow: 0 2px 4px rgba(0,0,0, .2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .2);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0, .2)
}

body .shade5_h->*:hover, body .shade5, body .bs5{
  box-shadow: 0 2px 4px rgba(0,0,0, .5);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .5);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0, .5)
}

body .shade1r{
  box-shadow: 4px 0px 4px 0px rgba(0,0,0, .1);
  -webkit-box-shadow: 4px 0px 4px 0px rgba(0,0,0, .1);
  -moz-box-shadow: 4px 0px 4px 0px rgba(0,0,0, .1)
}

body .tshade025, body .ts025{text-shadow: 1px 1px 1px rgba(0,0,0, .25)}
body .tshade05, body .ts05{text-shadow: 1px 1px 1px rgba(0,0,0, 0.5)}
body .tshade1, body .ts1{text-shadow: 1px 1px 1px rgba(0,0,0, 1)}

body .border->*:hover{ box-shadow: 1px 1px 1px 1px rgba(0,0,0, .1) }
body .zoom->*:hover{zoom: 1.01}

body .shade0->*, body .shade0, body .bs0, body .bs0->*{
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
}

body .cp50{ clip-path: circle(50%); -ms-flex: inherit; flex: inherit}

body .black, body .black- >* { background-color: #000; color: #fff; }
body .bcblack, body .bcblack- *, body .bcblack_h:hover{ background-color: #000 }

body .tdu, body .tdu->*{text-decoration:underline}

body .ttu,
body .ttu- * {
  text-transform: uppercase
}

body .ttn{
  text-transform: none
}

body .flc0{
  -webkit-box-pack: unset;
  -moz-box-pack: unset;
  -ms-flex-pack: unset;
  -webkit-justify-content: unset;
  -webkit-box-align: unset;
  -moz-box-align: unset;
  -ms-flex-align: unset;
  justify-content: unset;
}

body .f0,.box *.f0{flex:0}
body .f1,.box *.f1{flex: 1}
body .f2,.box *.f2{flex: 2}
body .f3,.box *.f3{flex: 3}
body .f4,.box *.f4{flex: 4}
body .f5,.box *.f5{flex: 5}
body .f6,.box *.f6{flex: 6}
body .f7,.box *.f7{flex: 7}
body .f8,.box *.f8{flex: 8}
body .f9,.box *.f9{flex: 9}
body .f10,.box *.f10{flex: 10}

/*https://www.rapidtables.com/web/color/html-color-codes.html*/

html body .bc0, html body .bc0_h:hover {background-color: unset}

/* Red */
html body .lightsalmon{color:#ffa07a}
html body .salmon{color:#fa8072}
html body .darksalmon{color:#e9967A}
html body .lightcoral{color:#f08080}
html body .indianred{color:#cd5c5c}
html body .crimson{color:#dc143c}
html body .firebrick,.firebrick- *{color:#b22222}
html body .red,.red- *, .sred- *.sel{color:#ff0000}
html body .darkred,.darkred- *{color:#8b0000}

html body .bclightsalmon{background-color:#ffa07a}
html body .bcsalmon{background-color:#fa8072}
html body .bcdarksalmon{background-color:#e9967A}
html body .bclightcoral{background-color:#f08080}
html body .bcindianred{background-color:#cd5c5c}
html body .bccrimson{background-color:#dc143c}
body .bcfirebrick{background-color:#b22222}
body .bcred{background-color:#ff0000}
body .bcdarkred{background-color:#8b0000}

body .boclightsalmon{border-color:#ffa07a}
body .bocsalmon{border-color:#fa8072}
body .bocdarksalmon{border-color:#e9967A}
body .boclightcoral{border-color:#f08080}
body .bocindianred{border-color:#cd5c5c}
body .boccrimson{border-color:#dc143c}
body .bocfirebrick{border-color:#b22222}
body .bocred{border-color:#ff0000}
body .bocdarkred{border-color:#8b0000}

/* Orange */
body .coral{color:#ff7f50}
body .tomato{color:#ff6347}
body .orangered{color:#ff4500}
body .gold{color:#ffd700}
body .orange{color:#ffA500}
body .darkorange{color:#ff8c00}

body .bccoral{background-color:#ff7f50}
body .bctomato{background-color:#ff6347}
body .bcorangered{background-color:#ff4500}
body .bcgold{background-color:#ffd700}
body .bcorange{background-color:#ffA500}
body .bcdarkorange{background-color:#ff8c00}

/* Yellow */
body .lightyellow{color:#ffffe0}
body .lemonchiffon{color:#fffacd}
body .lightgoldenrodyellow{color:#fafad2}
body .papayawhip{color:#ffefd5}
body .moccasin{color:#ffe4b5}
body .peachpuff{color:#ffdab9}
body .palegoldenrod{color:#eee8aa}
body .khaki{color:#f0e68c}
body .darkkhaki{color:#bdb76b}
body .yellow,.yellow- *{color:#ffff00}

body .bclightyellow{background-color:#ffffe0}
body .bclemonchiffon{background-color:#fffacd}
body .bclightgoldenrodyellow{background-color:#fafad2}
body .bcpapayawhip{background-color:#ffefd5}
body .bcmoccasin{background-color:#ffe4b5}
body .bcpeachpuff{background-color:#ffdab9}
body .bcpalegoldenrod{background-color:#eee8aa}
body .bckhaki{background-color:#f0e68c}
body .bcdarkkhaki{background-color:#bdb76b}
body .bcyellow{background-color:#ffff00}

/* Green */
body .lawngreen{color:#7cfc00}
body .chartreuse{color:#7fff00}
body .limegreen{color:#32cd32}
body .lime{color:#00ff00}
body .forestgreen{color:#228b22}
body .green{color:#008000}
body .darkgreen{color:#006400}
body .greenyellow{color:#adff2f}
body .yellowgreen{color:#9acd32}
body .springgreen{color:#00ff7f}
body .mediumspringgreen{color:#00fa9a}
body .lightgreen{color:#90ee90}
body .palegreen{color:#98fb98}
body .darkseagreen{color:#8fbc8f}
body .mediumseagreen{color:#3cb371}
body .seagreen{color:#2e8b57}
body .olive{color:#808000}
body .darkolivegreen{color:#556b2f}
body .olivedrab{color:#6b8e23}

body .bclawngreen{background-color:#7cfc00}
body .bcchartreuse{background-color:#7fff00}
body .bclimegreen{background-color:#32cd32}
body .bclime{background-color:#00ff00}
body .bcforestgreen{background-color:#228b22}
body .bcgreen{background-color:#008000}
body .bcdarkgreen{background-color:#006400}
body .bcgreenyellow{background-color:#adff2f}
body .bcyellowgreen{background-color:#9acd32}
body .bcspringgreen{background-color:#00ff7f}
body .bcmediumspringgreen{background-color:#00fA9a}
body .bclightgreen{background-color:#90ee90}
body .bcpalegreen{background-color:#98fb98}
body .bcdarkseagreen{background-color:#8fbc8f}
body .bcmediumseagreen{background-color:#3cb371}
body .bcseagreen{background-color:#2e8b57}
body .bcolive{background-color:#808000}
body .bcdarkolivegreen{background-color:#556b2f}
body .bcolivedrab{background-color:#6b8e23}

body .boclawngreen{border-color:#7cfc00}
body .bocchartreuse{border-color:#7fff00}
body .boclimegreen{border-color:#32cd32}
body .boclime{border-color:#00ff00}
body .bocforestgreen{border-color:#228b22}
body .bocgreen{border-color:#008000}
body .bocdarkgreen{border-color:#006400}
body .bocgreenyellow{border-color:#adff2f}
body .bocyellowgreen{border-color:#9acd32}
body .bocspringgreen{border-color:#00ff7f}
body .bocmediumspringgreen{border-color:#00fA9a}
body .boclightgreen{border-color:#90ee90}
body .bocpalegreen{border-color:#98fb98}
body .bocdarkseagreen{border-color:#8fbc8f}
body .bocmediumseagreen{border-color:#3cb371}
body .bocseagreen{border-color:#2e8b57}
body .bocolive{border-color:#808000}
body .bocdarkolivegreen{border-color:#556b2f}
body .bocolivedrab{border-color:#6b8e23}

/* Cyan */
body .lightcyan{color:#e0ffff}
body .cyan,.aqua{color:#00ffff}
body .aquamarine{color:#7fffd4}
body .mediumaquamarine{color:#66cdaa}
body .paleturquoise{color:#afeeee}
body .turquoise{color:#40e0d0}
body .mediumturquoise{color:#48d1cc}
body .darkturquoise{color:#00ced1}
body .lightseagreen{color:#20b2aa}
body .cadetblue{color:#5f9ea0}
body .darkcyan{color:#008b8b}
body .teal{color:#008080}

body .bclightcyan{background-color:#e0ffff}
body .bccyan,body .bcaqua{background-color:#00ffff}
body .bcaquamarine{background-color:#7fffd4}
body .bcmediumaquamarine{background-color:#66cdaa}
body .bcpaleturquoise{background-color:#afeeee}
body .bcturquoise{background-color:#40e0d0}
body .bcmediumturquoise{background-color:#48d1cc}
body .bcdarkturquoise{background-color:#00ced1}
body .bclightseagreen{background-color:#20b2aa}
body .bccadetblue{background-color:#5f9ea0}
body .bcdarkcyan{background-color:#008b8b}
body .bcteal{background-color:#008080}

/* Blue */
body .powderblue{color:#b0e0e6}
body .lightblue{color:#add8e6}
body .lightskyblue{color:#87cefa}
body .skyblue{color:#87ceeb}
body .deepskyblue{color:#00bfff}
body .lightsteelblue{color:#b0c4de}
body .dodgerblue{color:#1e90ff}
body .cornflowerblue{color:#6495ed}
body .steelblue{color:#4682b4}
body .royalblue{color:#4169e1}
body .blue{color:#0000ff}
body .mediumblue{color:#0000cd}
body .darkblue{color:#00008b}
body .navy{color:#000080}
body .midnightblue{color:#191970}
body .mediumslateblue{color:#7b68ee}
body .slateblue{color:#6a5acd}
body .darkslateblue{color:#483d8b}

body .bcpowderblue{background-color:#b0e0e6}
body .bclightblue{background-color:#add8e6}
body .bclightskyblue{background-color:#87cefa}
body .bcskyblue{background-color:#87ceeb}
body .bcdeepskyblue{background-color:#00bfff}
body .bclightsteelblue{background-color:#b0c4de}
body .bcdodgerblue{background-color:#1e90ff}
body .bccornflowerblue{background-color:#6495ed}
body .bcsteelblue{background-color:#4682b4}
body .bcroyalblue{background-color:#4169e1}
body .bcblue{background-color:#0000ff}
body .bcmediumblue{background-color:#0000cd}
body .bcdarkblue{background-color:#00008b}
body .bcnavy{background-color:#000080}
body .bcmidnightblue{background-color:#191970}
body .bcmediumslateblue{background-color:#7b68ee}
body .bcslateblue{background-color:#6a5acd}
body .bcdarkslateblue{background-color:#483d8b}

/* Purple */
body .lavender{color:#e6e6fa}
body .thistle{color:#d8bfd8}
body .plum{color:#dda0dd}
body .violet{color:#ee82ee}
body .orchid{color:#da70d6}
body .fuchsia,body .magent{color:#ff00ff}
body .mediumorchid{color:#ba55d3}
body .mediumpurple{color:#9370db}
body .blueviolet{color:#8a2be2}
body .darkviolet{color:#9400d3}
body .darkorchid{color:#9932cc}
body .darkmagenta{color:#8b008b}
body .purple{color:#800080}
body .indigo{color:#4b0082}

body .bclavender{background-color:#e6e6fa}
body .bcthistle{background-color:#d8bfd8}
body .bcplum{background-color:#dda0dd}
body .bcviolet{background-color:#ee82ee}
body .bcorchid{background-color:#da70d6}
body .bcfuchsia,body .bcmagenta{background-color:#ff00ff}
body .bcmediumorchid{background-color:#ba55d3}
body .bcmediumpurple{background-color:#9370db}
body .bcblueviolet{background-color:#8a2be2}
body .bcdarkviolet{background-color:#9400d3}
body .bcdarkorchid{background-color:#9932cc}
body .bcdarkmagenta{background-color:#8b008b}
body .bcpurple{background-color:#800080}
body .bcindigo{background-color:#4b0082}

/* Pink */
body .pink{color:#ffc0cb}
body .lightpink{color:#ffb6c1}
body .hotpink{color:#ff69b4}
body .deeppink{color:#ff1493}
body .palevioletred{color:#db7093}
body .mediumvioletred{color:#c71585}

body .bcpink{background-color:#ffc0cb}
body .bclightpink{background-color:#ffb6c1}
body .bchotpink{background-color:#ff69b4}
body .bcdeeppink{background-color:#ff1493}
body .bcpalevioletred{background-color:#db7093}
body .bcmediumvioletred{background-color:#c71585}

/* White */
body .white, body .white- *, body .swhite- *.sel, body .white_h:hover{color:#fff}
body .snow{color:#fffafa}
body .honeydew{color:#f0fff0}
body .mintcream{color:#f5fffa}
body .azure{color:#f0ffff}
body .aliceblue{color:#f0f8ff}
body .ghostwhite{color:#f8f8ff}
body .whitesmoke{color:#f5f5f5}
body .seashell{color:#fff5ee}
body .beige{color:#f5f5dc}
body .oldlace{color:#fdf5e6}
body .floralwhite{color:#fffaf0}
body .ivory{color:#fffff0}
body .antiquewhite{color:#faebd7}
body .linen{color:#faf0e6}
body .lavenderblush{color:#fff0f5}
body .mistyrose{color:#ffe4e1}

body .bcwhite, body .bcwhite-> *, body .bcwhite_h:hover { background-color: #fff }
body .bcwhite01{background-color: rgba(255,255,255, .1)}
body .bcwhite02{background-color: rgba(255,255,255, .2)}
body .bcwhite03{background-color: rgba(255,255,255, .3)}
body .bcwhite04{background-color: rgba(255,255,255, .4)}
body .bcwhite05{background-color: rgba(255,255,255, .5)}
body .bcwhite06{background-color: rgba(255,255,255, .6)}
body .bcwhite07{background-color: rgba(255,255,255, .7)}
body .bcwhite08{background-color: rgba(255,255,255, .8)}
body .bcwhite09{background-color: rgba(255,255,255, .9)}
body .bcsnow,.bcsnow_h:hover{background-color:#fffafa}
body .bchoneydew{background-color:#f0fff0}
body .bcmintcream{background-color:#f5fffa}
body .bcazure{background-color:#f0ffff}
body .bcaliceblue{background-color:#f0f8ff}
body .bcghostwhite,.bcghostwhite_h:hover{background-color:#f8f8ff}
body .bcwhitesmoke,.bcwhitesmoke_h:hover{background-color:#f5f5f5}
body .bcseashell{background-color:#fff5ee}
body .bcbeige{background-color:#f5f5dc}
body .bcoldlace{background-color:#fdf5e6}
body .bcfloralwhite{background-color:#fffaf0}
body .bcivory{background-color:#fffff0}
body .bcantiquewhite{background-color:#faebd7}
body .bclinen{background-color:#faf0e6}
body .bclavenderblush{background-color:#fff0f5}
body .bcmistyrose{background-color:#ffe4e1}

/* Gray */
body .gainsboro{color:#dcdcdc}
body .lightgray{color:#d3d3d3}
body .silver{color:#c0c0c0}
body .darkgray{color:#a9a9a9}
body .gray{color:#808080}
body .dimgray{color:#696969}
body .lightslategray{color:#778899}
body .slategray{color:#708090}
body .darkslategray{color:#2f4f4f}
body .black, body .black_h:hover{color:#000}
body .black01{color: rgba(0,0,0,.1)}
body .black02{color: rgba(0,0,0,.2)}
body .black03{color: rgba(0,0,0,.3)}
body .black04{color: rgba(0,0,0,.4)}
body .black05{color: rgba(0,0,0,.5)}
body .black06{color: rgba(0,0,0,.6)}
body .black07{color: rgba(0,0,0,.7)}
body .black08{color: rgba(0,0,0,.8)}
body .black09{color: rgba(0,0,0,.9)}

body .bcgainsboro{background-color:#dcdcdc}
body .bclightgray{background-color:#d3d3d3}
body .bcsilver{background-color:#c0c0c0}
body .bcdarkgray{background-color:#a9a9a9}
body .bcgray{background-color:#808080}
body .bcdimgray{background-color:#696969}
body .bclightslategray{background-color:#778899}
body .bcslategray{background-color:#708090}
body .bcdarkslategray{background-color:#2f4f4f}

body .bcblack01,body .bcblack001_h:hover{background-color: rgba(0,0,0, .01)}
body .bcblack01,body .bcblack01_h:hover{background-color: rgba(0,0,0, .1)}
body .bcblack02{background-color: rgba(0,0,0, .2)}
body .bcblack03{background-color: rgba(0,0,0, .3)}
body .bcblack04{background-color: rgba(0,0,0, .4)}
body .bcblack05{background-color: rgba(0,0,0, .5)}
body .bcblack06{background-color: rgba(0,0,0, .6)}
body .bcblack07{background-color: rgba(0,0,0, .7)}
body .bcblack08{background-color: rgba(0,0,0, .8)}
body .bcblack09{background-color: rgba(0,0,0, .9)}

body .bocblack01{border-color:rgba(0,0,0, .1)}
body .bocblack02{border-color:rgba(0,0,0, .2)}
body .bocblack03{border-color:rgba(0,0,0, .3)}
body .bocblack04{border-color:rgba(0,0,0, .4)}
body .bocblack05{border-color:rgba(0,0,0, .5)}
body .bocblack06{border-color:rgba(0,0,0, .6)}
body .bocblack07{border-color:rgba(0,0,0, .7)}
body .bocblack08{border-color:rgba(0,0,0, .8)}
body .bocblack09{border-color:rgba(0,0,0, .9)}

/* Brown */
body .cornsilk{color:#fff8dc}
body .blanchedalmond{color:#ffebcd}
body .bisque{color:#ffe4c4}
body .navajowhite{color:#ffdead}
body .wheat{color:#f5deb3}
body .burlywood{color:#deb887}
body .tan{color:#d2b48c}
body .rosybrown{color:#bc8f8f}
body .sandybrown{color:#f4a460}
body .goldenrod{color:#daa520}
body .peru{color:#cd853f}
body .chocolate{color:#d2691e}
body .saddlebrown{color:#8b4513}
body .sienna{color:#a0522d}
body .brown{color:#a52a2a}
body .maroon{color:#800000}

body .bccornsilk{background-color:#fff8dc}
body .bcblanchedalmond{background-color:#ffebcd}
body .bcbisque{background-color:#ffe4c4}
body .bcnavajowhite{background-color:#ffdead}
body .bcwheat{background-color:#f5deb3}
body .bcburlywood{background-color:#deb887}
body .bctan{background-color:#d2b48c}
body .bcrosybrown{background-color:#bc8f8f}
body .bcsandybrown{background-color:#f4a460}
body .bcgoldenrod{background-color:#daa520}
body .bcperu{background-color:#cd853f}
body .bcchocolate{background-color:#d2691e}
body .bcsaddlebrown{background-color:#8b4513}
body .bcsienna{background-color:#a0522d}
body .bcbrown{background-color:#a52a2a}
body .bcmaroon{background-color:#800000}

body .br0,body .br0->*{ border-radius: 0}
body .br03,body .br03->*{ border-radius: .3rem }
body .br04,body .br04->*{ border-radius: .4rem }
body .br05,body .br05->*{ border-radius: .5rem }
body .br075,body .br075->*{ border-radius: .75rem }
body .br1,body .br1->*{ border-radius: 1rem }
body .br2,body .br2->*{ border-radius: 2rem }
body .br3,body .br3->*{ border-radius: 3rem }
body .br4,body .br4->*{ border-radius: 4rem }
body .br5,body .br5->*{ border-radius: 5rem }
body .br50,body .br50->* { border-radius: 50% }

/* Screen Sized: XXS, XS, SM, MD, LG, XL, XXL, XXXL */

.wxxs{ max-width: 220px }
.pauto, .pauto-> *{ padding: 3rem }
.mnauto{ margin: -3rem }
.mnauto.h100{flex: 0 0 calc(100% + 6rem)}
.pauto1w{ padding: 3rem 1rem }

body .h25{height: 25%}
body .h50{height: 50%}
body .h60{height: 60%}
body .h70{height: 70%}
body .h80{height: 80%}
body .h90{height: 90%}
body .h5r{height: 5rem}
body .h6r{height: 6rem}
body .h7r{height: 7rem}
body .h8r{height: 8rem}
body .h9r{height: 9rem}
body .h10r{height: 10rem}
body .h25r{height: 25rem}
body .h50r{height: 50rem}
.wh1 { width: 1rem; height: 1rem }
.wh2 { width: 2rem; height: 2rem }
.wh3 { width: 3rem; height: 3rem }
.h1 { height: 1rem }
.h2 { height: 2rem }
.h2_5 { height: 2.5rem }
.h3 { height: 3rem }
.h3_5 { height: 3.5rem }
.h4 { height: 4rem }
.h4_5 { height: 4.5rem }
.h5 { height: 5rem }
.h10 { height: 10rem }
.h12 { height: 12rem }
.h15 { height: 15rem }
.h15p { height: 15% }
.h20 { height: 20rem }
.h50,.h50p { flex: 0 0 50%;-ms-flex: 1 0 50%; }
.h100,.h100p { flex: 0 0 100%;-ms-flex: 1 0 100%; }
.h100vh { height: 100vh }
.mih0 { min-height: unset }
.hm80,.hm80p { min-height: 80% }
.hm90,.hm90p { min-height: 90% }
.hm100,.hm100p { min-height: 100% }
.mah0 { max-height: unset }
.mh3 { max-height: 3rem }
.mh5 { max-height: 5rem }
.mh10 { max-height: 10rem }
.mh15p { max-height: 15% }
.mh30p { max-height: 30% }
.mh50p { max-height: 50% }
.mh60p { max-height: 60% }
.mh70p { max-height: 70% }
.mh80p { max-height: 80% }
.mh90p { max-height: 90% }
.p1vw { padding: 1vw}
.p5vw { padding: 5vw}
.p10vw { padding: 10vw}
.p15vw { padding: 15vw}
.p5v { padding: 5vmin}
.p10v { padding: 10vmin}
.p15v { padding: 15vmin}
body .p0 {padding: 0}
body .p025, body .p025->*{ padding: .25rem }
body .p05, body .p05->*{ padding: .5rem }
body .p075, body .p075->*{ padding: .75rem }
.p1,.p1->*{ padding: 1rem }
.p2,.p2->*{ padding: 2rem }
.p3,.p3->*{ padding: 3rem }
.p4,.p4->*{ padding: 4rem }
.p5,.p5->*{ padding: 5rem }
.p5p{ padding: 5% }
.p10p{ padding: 10% }
.p10{ padding: 10rem }
.p10p{ padding: 10% }
.pl05{ padding-left: .5rem }
.pl1{ padding-left: 1rem }
.pl1d25{ padding-left: 1.25rem }
.pl2{ padding-left: 2rem }
.pl3{ padding-left: 3rem }
.pl4{ padding-left: 4rem }
.pl5{ padding-left: 5rem }
.pl6{ padding-left: 6rem }
.pl10{ padding-left: 10rem }
body .pr0, body .pr0->*{ padding-right: unset }
.pr025, .pr025->*{ padding-right: .25rem }
.pr05, .pr05->*{ padding-right: .5rem }
.pr1{ padding-right: 1rem }
.pr1d25{ padding-right: 1.25rem }
.pr2{ padding-right: 2rem }
.pr3{ padding-right: 3rem }
.pr4{ padding-right: 4rem }
.pr5{ padding-right: 5rem }
.pr6{ padding-right: 6rem }
.pr10{ padding-right: 10rem }
.pt0{ padding-top: 0 }
.pt05{ padding-top: .5rem }
.pt1{ padding-top: 1rem }
.pt105{ padding-top: 1.5rem }
.pt2{ padding-top: 2rem }
.pt3{ padding-top: 3rem }
.pt4{ padding-top: 4rem }
.pt5{ padding-top: 5rem }
.pb1{ padding-bottom: 1rem }
.pb105{ padding-bottom: 1.5rem }
.pb2{ padding-bottom: 2rem }
.pb3{ padding-bottom: 3rem }
.pb4{ padding-bottom: 4rem }
.pb5{ padding-bottom: 5rem }
.ml0, .ml0- *{margin-left:0}
.ml1, .ml1- *{margin-left:1rem}
.ml2, .ml2- *{margin-left:2rem}
.ml3, .ml3- *{margin-left:3rem}
.mr0, .mr0- *{margin-right:0}
.mr05, .mr05- *{margin-right:.5rem}
.mr1, .mr1- *{margin-right:1rem}
.mr2, .mr2- *{margin-right:2rem}
.mr2, .mr3- *{margin-right:3rem}
body .mt0, body .mt0- *{ margin-top: 0 }
.mt05, .mt05-> *{margin-top: .5rem}
.m05, .m05- *{ margin: .5rem }
.mt05, .mt05- *{margin-top:.5rem}
.mt1, .mt1- *{ margin-top: 1rem }
.mt2, .mt2- *{ margin-top: 2rem }
.mt3, .mt3- *{ margin-top: 3rem }
.mt4, .mt4- *{ margin-top: 4rem }
.mt5, .mt5- *{ margin-top: 5rem }
.mb0, .mb0- *{ margin-bottom: 0 }
.mb05, .mb05-> *{margin-bottom: .5rem}
.mb1, .mb1- *{ margin-bottom: 1rem }
.mb2, .mb2- *{ margin-bottom: 2rem }
.mb3, .mb3- *{ margin-bottom: 3rem }
.mb4, .mb4- *{ margin-bottom: 4rem }
.mb5, .mb5- *{ margin-bottom: 5rem }
.m2, .m2-> *{margin: 2rem}
.m1, .m1-> *{ margin: 1rem }
.m025, .m025-> *{margin: .25rem}
.m05, .m05-> *{margin: .5rem}
.m075, .m075-> *{margin: .75rem}
.rv{resize:vertical}
.rh{resize:horizontal}

body [class*='mih']{min-height: inherit!important}
body [class*='mah']{max-height: inherit!important}

body .bos0{border-style: none}
body .bos1{border-style: outset}
body .bos2{border-style: inset}
body .bos3{border-style: dashed}
body .bos4{border-style: dotted}
body .bos5{border-style: double}
body .bos6{border-style: groove}
body .bos7{border-style: ridge}
body .bos8{border-style: solid}
body .bw0{border-width: 0}
body .bw1{border-width: 1px}
body .bw2{border-width: 2px}
body .bw3{border-width: 3px}
body .bw4{border-width: 4px}
body .bw5{border-width: 5px}

body [class*='wc_'], body .m0a {margin: 0 auto;flex:initial;max-width:100%}
body [class*='_dn'], body [class*='_du']{display: none}

.wc_xm{width: 480px}
.wc_xl{width: 960px}
.wc_xxl{width: 1280px}
.wc_xxxl{width: 1440px}

.w80w{ max-width: 80vw}

/*Min*/

@media only screen and (min-width: 220px) {
  body .xxs_dn{display: inherit}
}


@media only screen and (min-width: 300px) {
  body .xs_dn{display: inherit}
  body .xs_gtc1 { grid-template-columns: 1fr;-ms-grid-columns: 1fr}
  body .xs_gtc2 { grid-template-columns: 1fr 1fr;-ms-grid-columns: 1fr 1fr}
  body .xs_gtc3 { grid-template-columns: 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr}
  body .xs_gtc4 { grid-template-columns: 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr}
  body .xs_gtc5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr}
  body .xs_gtc6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr}
}

@media only screen and (min-width: 360px) {
  body .sm_dn{display: inherit}
  body .sm_gtc1 { grid-template-columns: 1fr;-ms-grid-columns: 1fr}
  body .sm_gtc2 { grid-template-columns: 1fr 1fr;-ms-grid-columns: 1fr 1fr}
  body .sm_gtc3 { grid-template-columns: 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr}
  body .sm_gtc4 { grid-template-columns: 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr}
  body .sm_gtc5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr}
  body .sm_gtc6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr}
}

@media only screen and (min-width: 480px) {
  body .xm_dn{display: inherit}
  body .xm_gtc1 { grid-template-columns: 1fr}
  body .xm_gtc2 { grid-template-columns: 1fr 1fr}
  body .xm_gtc3 { grid-template-columns: 1fr 1fr 1fr}
  body .xm_gtc4 { grid-template-columns: 1fr 1fr 1fr 1fr}
  body .xm_gtc5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr}
  body .xm_gtc6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr}
  body .xm_z05, body .xm_z05- * { zoom: .5 }
  body .xm_z06, body .xm_z06- * { zoom: .7 }
  body .xm_z07, body .xm_z07- * { zoom: .7 }
  body .xm_z08, body .xm_z08- * { zoom: .8 }
  body .xm_z09, body .xm_z09- * { zoom: .9 }
  body .xm_z1, body .xm_z1- * { zoom: 1 }
  body .xm_z11, body .xm_z11- * { zoom: 1.1 }
  body .xm_z12, body .xm_z12- * { zoom: 1.2 }
  body .xm_z13, body .xm_z13- * { zoom: 1.3 }
  body .xm_z14, body .xm_z14- * { zoom: 1.4 }
  body .xm_z15, body .xm_z15- * { zoom: 1.5 !important }
  body .xm_z16, body .xm_z16- * { zoom: 1.6 }
  body .xm_z17, body .xm_z19- * { zoom: 1.7 }
  body .xm_z18, body .xm_z18- * { zoom: 1.8 }
  body .xm_z19, body .xm_z19- * { zoom: 1.9 }
  body .xm_z20, body .xm_z20- * { zoom: 2 !important }
}

@media only screen and (min-width: 600px) {
  .cards { grid-template-columns: 1fr 1fr;-ms-grid-columns: 1fr 1fr}

  body .md_dn{display: inherit}
  body .md_pl3 { padding-left: 3rem }
  body .md_pl4 { padding-left: 4rem }
  body .md_pl5 { padding-left: 5rem }
  body .md_pl6 { padding-left: 6rem }
  body .md_gtc1 { grid-template-columns: 1fr}
  body .md_gtc2 { grid-template-columns: 1fr 1fr}
  body .md_gtc3 { grid-template-columns: 1fr 1fr 1fr}
  body .md_gtc4 { grid-template-columns: 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr}
  body .md_gtc5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr}
  body .md_gtc6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr}
  body .md_z05, body .md_z05- * { zoom: .5 }
  body .md_z06, body .md_z06- * { zoom: .7 }
  body .md_z07, body .md_z07- * { zoom: .7 }
  body .md_z08, body .md_z08- * { zoom: .8 }
  body .md_z09, body .md_z09- * { zoom: .9 }
  body .md_z1, body .md_z1- * { zoom: 1 }
  body .md_z11, body .md_z11- * { zoom: 1.1 }
  body .md_z12, body .md_z12- * { zoom: 1.2 }
  body .md_z13, body .md_z13- * { zoom: 1.3 }
  body .md_z14, body .md_z14- * { zoom: 1.4 }
  body .md_z15, body .md_z15- * { zoom: 1.5 !important }
  body .md_z16, body .md_z16- * { zoom: 1.6 }
  body .md_z17, body .md_z19- * { zoom: 1.7 }
  body .md_z18, body .md_z18- * { zoom: 1.8 }
  body .md_z19, body .md_z19- * { zoom: 1.9 }
  body .md_z20, body .md_z20- * { zoom: 2 !important }
}

@media only screen and (min-width: 740px) {
  .cards { grid-template-columns: 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr}

  body .lg_dn{display: inherit}
  body .lg_pl2 { padding-left: 2rem }
  body .lg_pl3 { padding-left: 3rem }
  body .lg_pl4 { padding-left: 4rem }
  body .lg_pl5 { padding-left: 5rem }
  body .lg_pl6 { padding-left: 6rem }
  body .lg_gtc1 { grid-template-columns: 1fr}
  body .lg_gtc2 { grid-template-columns: 1fr 1fr}
  body .lg_gtc3 { grid-template-columns: 1fr 1fr 1fr}
  body .lg_gtc4 { grid-template-columns: 1fr 1fr 1fr 1fr}
  body .lg_gtc5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr}
  body .lg_gtc6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr}
  body .lg_w10r{ width: 10rem}
  body .lg_w15r{ width: 15rem}
  body .lg_w20r{ width: 20rem}
  body .lg_w25r{ width: 25rem}
  body .lg_w30r{ width: 30rem}
  body .lg_w40r{ width: 40rem}
  body .lg_z05, body .lg_z05- * { zoom: .5 }
  body .lg_z06, body .lg_z06- * { zoom: .7 }
  body .lg_z07, body .lg_z07- * { zoom: .7 }
  body .lg_z08, body .lg_z08- * { zoom: .8 }
  body .lg_z09, body .lg_z09- * { zoom: .9 }
  body .lg_z1, body .lg_z1- * { zoom: 1 }
  body .lg_z11, body .lg_z11- * { zoom: 1.1 }
  body .lg_z12, body .lg_z12- * { zoom: 1.2 }
  body .lg_z13, body .lg_z13- * { zoom: 1.3 }
  body .lg_z14, body .lg_z14- * { zoom: 1.4 }
  body .lg_z15, body .lg_z15- * { zoom: 1.5 !important }
  body .lg_z16, body .lg_z16- * { zoom: 1.6 }
  body .lg_z17, body .lg_z19- * { zoom: 1.7 }
  body .lg_z18, body .lg_z18- * { zoom: 1.8 }
  body .lg_z19, body .lg_z19- * { zoom: 1.9 }
  body .lg_z20, body .lg_z20- * { zoom: 2 !important }
}

@media only screen and (min-width: 960px) {
  .cards { grid-template-columns: 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr}

  body .xl_dn{display: inherit}
  body .xl_pl2 { padding-left: 2rem }
  body .xl_pl3 { padding-left: 3rem }
  body .xl_pl4 { padding-left: 4rem }
  body .xl_pl5 { padding-left: 5rem }
  body .xl_pl6 { padding-left: 6rem }
  body .xl_gtc1 { grid-template-columns: 1fr}
  body .xl_gtc2 { grid-template-columns: 1fr 1fr}
  body .xl_gtc3 { grid-template-columns: 1fr 1fr 1fr}
  body .xl_gtc4 { grid-template-columns: 1fr 1fr 1fr 1fr}
  body .xl_gtc5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr}
  body .xl_gtc6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr}
  body .xl_gtc7 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr}
}

@media only screen and (min-width: 1280px) {
  .cards { grid-template-columns: 1fr 1fr 1fr 1fr 1fr;-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr}
  body .xxl_dn{display: inherit}
  body .xxl_gtc1 { grid-template-columns: 1fr}
  body .xxl_gtc2 { grid-template-columns: 1fr 1fr}
  body .xxl_gtc3 { grid-template-columns: 1fr 1fr 1fr}
  body .xxl_gtc4 { grid-template-columns: 1fr 1fr 1fr 1fr}
  body .xxl_gtc5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr}
  body .xxl_gtc6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr}
  body .xxl_gtc7 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr}
}

@media only screen and (min-width: 1440px) {
  html.fsauto{font-size: 1.3em}
  .cards { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr}

  body .xxxl_dn{display: inherit}
  body .xxxl_gtc1 { grid-template-columns: 1fr}
  body .xxxl_gtc2 { grid-template-columns: 1fr 1fr}
  body .xxxl_gtc3 { grid-template-columns: 1fr 1fr 1fr}
  body .xxxl_gtc4 { grid-template-columns: 1fr 1fr 1fr 1fr}
  body .xxxl_gtc5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr}
  body .xxxl_gtc6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr}
  body .xxxl_gtc7 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr}
  body .xxxl_w10r{ width: 10rem}
  body .xxxl_w15r{ width: 15rem}
  body .xxxl_w20r{ width: 20rem}
  body .xxxl_w25r{ width: 25rem}
  body .xxxl_w30r{ width: 30rem}
  body .xxxl_w40r{ width: 40rem}
  body .xxxl_p05r{padding: .5rem}
  body .xxxl_p1r{padding: 1rem}
  body .xxxl_p2r{padding: 2rem}
}

/*Max*/
@media only screen and (max-width: 1440px) {
  body .xxxl_du{display: inherit}
  body .xxxl_p05r{padding: .5rem}
  body .xxxl_p1r{padding: 1rem}
  body .xxxl_p2r{padding: 2rem}
}

@media only screen and (max-width: 1439px) and (min-width: 1280px) {

}

@media only screen and (max-width: 1280px) {
  body .xxl_du{display: inherit}
  body .xxl_p0{padding: 0}
  body .xxl_p05r{padding: .5rem}
  body .xxl_p1r{padding: 1rem}
  body .xxl_p2r{padding: 2rem}
}

@media only screen and (max-width: 1279px) and (min-width: 960px) {

}

@media only screen and (max-width: 960px) {
  body .xl_du{display: inherit}
  body .xl_pu{position: inherit}
  body .xl_bcu{background-color: inherit}
  body .xl_flcu, body *.flc.xl_flcu{top:inherit;left: inherit;transform:inherit}
  body .xl_shadeu{box-shadow:inherit;-webkit-box-shadow:inherit;-moz-box-shadow:inherit}
  body .xl_hu{height:unset}
  body .xl_fs100 a, body .xl_fs100{ font-size: 100% }
  body .xl_fs90 a, body .xl_fs90{ font-size: 90% }
  body .xl_fs80 a, body .xl_fs80{ font-size: 80% }
  body .xl_fs70 a, body .xl_fs70{ font-size: 70% }
  body .xl_fs60 a, body .xl_fs60{ font-size: 60% }
  body .xl_fs50 a, body .xl_fs50{ font-size: 50% }
  body .xl_fs0 a, body .xl_fs0{ font-size: 0 }
  body .xl_p0{padding: 0}
  body .xl_p05r{padding: .5rem}
  body .xl_p1r{padding: 1rem}
  body .xl_p2r{padding: 2rem}
}

@media only screen and (max-width: 959px) and (min-width: 740px) {

}

@media only screen and (max-width: 739px) {
  body .lg_du{display: inherit}
  body .lg_w50p, body .lg_w50p- * { width: 50%; -ms-flex: 50%; flex: 50% }
  body .lg_w60p, body .lg_w60p- * { width: 60%; -ms-flex: 60%; flex: 60% }
  body .lg_w70p, body .lg_w70p- * { width: 70%; -ms-flex: 70%; flex: 70% }
  body .lg_w80p, body .lg_w80p- * { width: 80%; -ms-flex: 80%; flex: 80% }
  body .lg_w90p, body .lg_w90p- * { width: 90%; -ms-flex: 90%; flex: 90% }
  body .lg_w100p, body .lg_w100p- * { width: 100%; -ms-flex: 100%; flex: 100%}
  body .lg_f2, body .lg_f2- * { -ms-flex: 2; flex: 2}
  body .lg_f3, body .lg_f3- * { -ms-flex: 3; flex: 3}
  body .lg_fs100 a, body .lg_fs100{ font-size: 100% }
  body .lg_fs90 a, body .lg_fs90{ font-size: 90% }
  body .lg_fs80 a, body .lg_fs80{ font-size: 80% }
  body .lg_fs70 a, body .lg_fs70{ font-size: 70% }
  body .lg_fs60 a, body .lg_fs60{ font-size: 60% }
  body .lg_fs50 a, body .lg_fs50{ font-size: 50% }
  body .lg_fs0 a, body .lg_fs0- > a, body .lg_fs0{ font-size: 0 }
  body .lg_o1n{ order: -1}
  body .lg_o2n{ order: -2}
  body .lg_o0{ order: 0}
  body .lg_o1{ order: 1}
  body .lg_o2{ order: 2}
  body .lg_tal{text-align: left}
  body .lg_tar{text-align: right}
  body .lg_tac{text-align: center}
  body .lg_h3{height: 3rem}
  body .lg_h4{height: 4rem}
  body .lg_h5{height: 5rem}
  body .lg_h10{height: 10rem}
  body .lg_gan { grid-area: nav!important; width: 100%; z-index: 11 }
  body .lg_gam { grid-area: middle!important; z-index: 11 }
  body .lg_fdr {flex-direction: row; -ms-flex-direction: row}
  body .lg_fdc, body .lg_fdc-> * {flex-direction: column; -ms-flex-direction: column}
  body .lg_p0{padding: 0}
  body .lg_m0{margin: 0}
  body .lg_p05r{padding: .5rem}
  body .lg_p1r{padding: 1rem}
  body .lg_p2r{padding: 2rem}
  body .lg_gap0->*{ margin-left: unset;margin-right: unset }
}

@media only screen and (max-width: 739px) and (min-width: 600px) {

}

@media only screen and (max-width: 600px) {
  body .pauto, body .pauto-> *{padding: 2.5rem}
  body .mnauto, body .md_mnauto{margin: -2.5rem}
  body .mnauto.h100{flex: 0 0 calc(100% + 5rem)}

  body .md_du{display: inherit}
  body .md_w50p, body .md_w50p- * { width: 50%; -ms-flex: 50%; flex: 50% }
  body .md_w60p, body .md_w60p- * { width: 60%; -ms-flex: 60%; flex: 60% }
  body .md_w70p, body .md_w70p- * { width: 70%; -ms-flex: 70%; flex: 70% }
  body .md_w80p, body .md_w80p- * { width: 80%; -ms-flex: 80%; flex: 80% }
  body .md_w90p, body .md_w90p- * { width: 90%; -ms-flex: 90%; flex: 90% }
  body .md_w100p, body .md_w100p- * { width: 100%; -ms-flex: 100%; flex: 100% }
  body .md_f2, body .md_f2- * { -ms-flex: 2; flex: 2}
  body .md_f3, body .md_f3- * { -ms-flex: 3; flex: 3}
  body .md_fs100 a, body .md_fs100{ font-size: 100% }
  body .md_fs90 a, body .md_fs90{ font-size: 90% }
  body .md_fs80 a, body .md_fs80{ font-size: 80% }
  body .md_fs70 a, body .md_fs70{ font-size: 70% }
  body .md_fs60 a, body .md_fs60{ font-size: 60% }
  body .md_fs50 a, body .md_fs50{ font-size: 50% }
  body .md_fs0 a, body .md_fs0- > a, body .md_fs0{ font-size: 0 }
  body .md_p0{padding: 0}
  body .md_p05r{padding: .5rem}
  body .md_p1r{padding: 1rem}
  body .md_p2r{padding: 2rem}
  body .md_p10p{padding: 10%}
  body .md_gap0->*{ margin-left: unset;margin-right: unset }
}

@media only screen and (max-width: 599px) {

}

@media only screen and (max-width: 480px) {
  body .pauto, body .pauto-> *{padding: 2rem}
  body .xm_fs0 a, .xm_fs0- > a, body .xm_fs0{font-size: 0}
  body .mnauto{margin: -2rem}
  body .mnauto.h100{flex: 0 0 calc(100% + 4rem)}
  body .crumbs{display:none}

  body .xm_du{display: inherit}
  body .xm_w50p, body .xm_w50p- * { width: 50%; -ms-flex: 50%; flex: 50% }
  body .xm_w60p, body .xm_w60p- * { width: 60%; -ms-flex: 60%; flex: 60% }
  body .xm_w70p, body .xm_w70p- * { width: 70%; -ms-flex: 70%; flex: 70% }
  body .xm_w80p, body .xm_w80p- * { width: 80%; -ms-flex: 80%; flex: 80% }
  body .xm_w90p, body .xm_w90p- * { width: 90%; -ms-flex: 90%; flex: 90% }
  body .xm_w100p, body .xm_w100p- * { width: 100%; -ms-flex: 100%; flex: 100% }
  body .xm_fs100, body .xm_fs100 a{ font-size: 100% }
  body .xm_fs90 a, body .xm_fs90{ font-size: 90% }
  body .xm_fs80 a, body .xm_fs80 a{ font-size: 80% }
  body .xm_fs70 a, body .xm_fs70 a{ font-size: 70% }
  body .xm_fs60 a, body .xm_fs60{ font-size: 60% }
  body .xm_fs50 a, body .xm_fs50 a{ font-size: 50% }
  body .xm_fs0 a, body .xm_fs0{ font-size: 0 }
  body .xm_tal{text-align: left}
  body .xm_tar{text-align: right}
  body .xm_tac{text-align: center}
  body .xm_p0{padding: 0}
  body .xm_p05r{padding: .5rem}
  body .xm_p1r{padding: 1rem}
  body .xm_p2r{padding: 2rem}
  body .xm_p10p{padding: 10%}
}

@media only screen and (max-width: 360px) {
  body .pauto, body .pauto-> *{padding: 1.5rem}
  body .mnauto{margin: -1.5rem}
  body .mnauto.h100{flex: 0 0 calc(100% + 3rem)}

  body .sm_du{display: inherit}
  body .sm_w50p, body .sm_w50p- * { width: 50%; -ms-flex: 50%; flex: 50% }
  body .sm_w60p, body .sm_w60p- * { width: 60%; -ms-flex: 60%; flex: 60% }
  body .sm_w70p, body .sm_w70p- * { width: 70%; -ms-flex: 70%; flex: 70% }
  body .sm_w80p, body .sm_w80p- * { width: 80%; -ms-flex: 80%; flex: 80% }
  body .sm_w90p, body .sm_w90p- * { width: 90%; -ms-flex: 90%; flex: 90% }
  body .sm_w100p, body .sm_w100p- * { width: 100%; -ms-flex: 100%; flex: 100% }
  body .sm_tal{text-align: left}
  body .sm_tar{text-align: right}
  body .sm_tac{text-align: center}
  body .sm_p0{padding: 0}
  body .sm_p05r{padding: .5rem}
  body .sm_p1r{padding: 1rem}
  body .sm_p2r{padding: 2rem}
  body .sm_p10p{padding: 10%}
}

@media only screen and (max-width: 300px) {
  body .xs_du{display: inherit}
  body .xs_w100{width: 100%}
  body .xs_p0{padding: 0}
  body .xs_p05r{padding: .5rem}
  body .xs_p1r{padding: 1rem}
  body .xs_p2r{padding: 2rem}
}

@media only screen and (max-width: 220px) {
  body .xxs_du{display: inherit}
  body .xxs_w100{width: 100%}
  body .xxs_p0{padding: 0}
  body .xxs_p05r{padding: .5rem}
  body .xxs_p1r{padding: 1rem}
  body .xxs_p2r{padding: 2rem}
}

nav.tabs > input[type="radio"],
nav.slider input[type="radio"],
.togglebar{
  display: none
}

.w1r, .w1r- * { width: 1rem }
.w2r, .w2r- * { width: 2rem }
.w3r, .w3r- * { width: 3rem }
.w4r, .w4r- * { width: 4rem }
.w5r, .w5r- * { width: 5rem }
.w10r, .w10, .w10- * { width: 10rem }
.w11r, .w11, .w11- * { width: 11rem }
.w12r, .w12r- * { width: 12rem }
.w13r, .w13, .w13- * { width: 13rem }
.w14r, .w14, .w14- * { width: 14rem }
.w15r, .w15, .w15- * { width: 15rem }
.w20r, .w20r- * { width: 20rem }
.w25r, .w25, .w25- * { width: 25rem }
.w50r, .w50r, .w50r- * { width: 50rem }

.m1rn{ margin: -1rem }
.m2rn{ margin: -2rem }
.m3rn{ margin: -3rem }