.bottombar,
.topbar {
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  z-index: 20;
}

.bottombar *,
.topbar * {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 100%;
  line-height: normal;
}

.bottombar figure,
.bottombar a,
.topbar a,
.topbar figure {
  height: 100%
}

.bottombar * img,
.topbar * img {
  max-width: 100%
}

.bottombar *.fr,
.topbar *.fr {
  margin-left: auto !important;
}

.rtl .bottombar *.fr,
.rtl .topbar *.fr {
  margin-left: unset !important;
  margin-right: auto !important;
}