@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

@font-face {
    font-family: material;
    src: url('../icons/material.woff') format('woff');
}

:root {
    --dark: #212121;
    --light: #333;
}

*{
    color: var(--dark);
}

html {
	letter-spacing: unset;
    font-family: Roboto;
    color: #000;
}

body{
    scrollbar-base-color: transparent;
    scrollbar-face-color: transparent;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #000;
    scrollbar-darkshadow-color: #000;
}

.icons *,
.icon{
    font-family: material !important;
    padding-right: .4rem;
}

.cards figure,
.cards div{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    border-radius: 4px;
}

[class*='icon'] { 
    font-family: material; 
}

.dark { background-color: #212121; color: #fff }
.dark * { color: #fff }

.light { background-color: #F1F1F1; color: #212121}

body * nav{
    box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0, .5);
}

body * nav a.sel,
body * nav a:hover{
    border-bottom: 4px inset white;
    border-top: 4px inset transparent;
}

body * nav small{
    color: rgba(0, 0, 0, 0.38);
    font-weight: bold;
}

body * nav.sidebar{}

body * nav.pagination{
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
}

nav.tabs a:hover{
    box-shadow: 1px 1px 1px white;
}

select,input,textarea,button{
    box-shadow: 0 1px 0 rgba(0,0,0, .42);
    background-color: #f5f5f5;
    color: rgba(0,0,0,.87);
    min-height: 3.5rem;
    font-size: 100%;
    letter-spacing: .009375em;
    border-radius: .25rem .25rem 0 0;
    text-indent: 1rem;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

select:hover,input:hover,textarea:hover{
    background-color: rgba(231,231,231);
    box-shadow: 0 1px 0 rgba(0,0,0,.87);
}

select:focus,input:focus,textarea:focus{
    background-color: rgba(195,195,195);
}

nav.topbar select,nav.topbar input,nav.topbar textarea,nav.topbar button{
    min-height: 100%;
    padding: .5rem;
    border-radius: .25rem;
}

.outlined{ border-radius: .25rem; background-color: #fff; color: #000; box-shadow: 0 0 0 1px rgba(0,0,0, .42) }
.outlined:hover{ background-color: inherit; box-shadow: 0 0 0 1px rgba(0,0,0, .42) }
.outlined:focus{ background-color: inherit; box-shadow: 0 0 0 1px rgba(0,0,0, .42) }
.text{ box-shadow: unset }

button{
    text-indent: unset;
    background-color: var(--dark);
    color: #fff;
    border-radius: .25rem;
    min-height: 2.3rem;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
    text-transform: uppercase;
    font-size: 85%;
    font-weight: 500;
    letter-spacing: .0892857143em;
    padding: 0 1rem 0 1rem;
}

button *{
    float: left;
}

button:hover{
    opacity: .95;
}